.themaWrap * { font-family: 'GmarketSans','Noto Sans KR' !important; font-weight: 500; line-height: 1.3; } 
.themaWrap .innerSection { max-width: 1000px; margin: 0 auto; padding: 0; } 
.gBold { font-weight: 700; } 
#renewFooter .f_address .f_addr { display: none !important; } 

.themaWrap .leftMenu.fixed { position: fixed; top: 150px; } 
.themaWrap .leftMenu { position: absolute; left: 170px; top: 120px; padding: 14px; background: #fff; border-radius: 20px; box-shadow: 0px 0px 38px rgb(0,0,0,0.1); text-align: center; z-index: 10; } 
.themaWrap .leftMenu > a { display: block; margin-top: 20px; color: #5f5f5f; } 
.themaWrap .menuList li { border-radius: 6px; overflow: hidden; } 
.themaWrap .menuList li + li { margin-top: 6px; } 
.themaWrap .menuList li a { display: block; width: 225px; height: 100%; padding: 12px 10px 8px; background: #d0d0d0; color: #000; font-size: 24px; } 
.themaWrap .menuList li a > p { color: #000; letter-spacing: -2px; } 
.themaWrap .menuList li a > p::after { content: ''; display: block; width: 100%; background-position: center; background-repeat: no-repeat; background-size: contain !important; } 
.themaWrap .menuList li.active:nth-child(1) a > p::after { height: 72px; margin: 16px auto 0; background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tit_icon01.png); } 
.themaWrap .menuList li.active:nth-child(2) a > p::after { height: 72px; margin: 16px auto 0; background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tit_icon02.png); } 
.themaWrap .menuList li.active:nth-child(3) a > p::after { height: 72px; margin: 16px auto 0; background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tit_icon03.png); } 
.themaWrap .menuList li.active:nth-child(4) a > p::after { height: 83px; margin: 16px auto 0; background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tit_icon04.png); } 
.themaWrap .menuList li a .txtBox { display: none; } 
.themaWrap .menuList li a:hover { background: #7c99d2; } 
.themaWrap .menuList li a:hover > p { color: #fff; } 
.themaWrap .menuList li.active a { height: 166px; padding: 20px 0; background: #7c99d2; } 
.themaWrap .menuList li.active a > p { margin-bottom: 16px; color: #fff; font-weight: 700 } 

.themaWrap .mainVisual { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/main_bg.jpg) top center no-repeat; } 
.themaWrap .mainVisual .innerSection { width: 100%; padding: 70px 0 46px; } 
.themaWrap .mainVisual .titWrap { margin-bottom: 40px; text-align: center; } 
.themaWrap .mainVisual h2 { display: inline-block; position: relative; } 
.themaWrap .mainVisual h2::before { content: ''; width: 149px; height: 171px; position: absolute; top: 20px; left: -300px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/main_tit_icon01.png) no-repeat; } 
.themaWrap .mainVisual h2::after { content: ''; width: 171px; height: 192px; position: absolute; top: 20px; right: -300px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/main_tit_icon02.png) no-repeat; } 
.themaWrap .mainVisual .txtWrap { width: 811px; height: 458px; padding-top: 110px; margin: 0 auto; position: relative; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/main_txt_bg.png) top center no-repeat; } 
.themaWrap .mainVisual .txtWrap::before { content: ''; width: 224px; height: 210px; position: absolute; bottom: -46px; left: -110px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/main_txt_item01.png); } 
.themaWrap .mainVisual .txtWrap::after { content: ''; width: 109px; height: 227px; position: absolute; bottom: -28px; right: -40px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/main_txt_item02.png); } 
.themaWrap .mainVisual .txtWrap p { margin-bottom: 60px; color: #000; font-size: 26px; text-align: center; line-height: 1.5; letter-spacing: -1px; } 
.themaWrap .mainVisual .txtWrap p .fcBlue { color: #003cff; } 
.themaWrap .mainVisual .txtWrap p .fcPink { color: #ff0072; } 
.themaWrap .mainVisual .txtWrap .linkWrap { text-align: center; } 
.themaWrap .mainVisual .txtWrap .linkWrap a { display: inline-block; min-width: 320px; padding: 20px 10px 10px; position: relative; background: #fff; border-radius: 60px; border: 4px solid #66bab5; text-align: center; } 
.themaWrap .mainVisual .txtWrap .linkWrap a .logoImg { margin-bottom: 6px; } 
.themaWrap .mainVisual .txtWrap .linkWrap a::before { content: ''; width: 41px; height: 41px; position: absolute; top: -6px; left: -10px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/main_icon01.png) no-repeat; } 
.themaWrap .mainVisual .txtWrap .linkWrap a::after { content: ''; width: 39px; height: 41px; position: absolute; bottom: -8px; right: 6px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/main_icon02.png) no-repeat; } 
.themaWrap .mainVisual .txtWrap .linkWrap a span { color: #000; font-size: 30px; } 

.themaWrap .cont01 { position: relative; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont01_bg.jpg) top center no-repeat; } 
.themaWrap .cont01 .innerSection { padding: 160px 0 180px; } 
.themaWrap .cont01 .contList { display: flex; width: 899px; height: 343px; padding: 54px 50px; margin: 0 auto; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont01_item.png) center no-repeat; justify-content: space-between; gap: 0 34px; } 
.themaWrap .cont01 .contList li { width: 100%; } 
.themaWrap .cont01 .contList li a { display: block; height: 100%; padding-top: 36px; color: #000; font-size: 30px; text-align: center; letter-spacing: -1px; } 
.themaWrap .cont01 .contList li a::before { content: ''; display: block; width: 100%; height: 80px; margin: 0 auto 24px; background-size: contain !important; } 
.themaWrap .cont01 .contList li:nth-child(1) a::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tit_icon01.png) center no-repeat; } 
.themaWrap .cont01 .contList li:nth-child(2) a::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tit_icon02.png) center no-repeat; } 
.themaWrap .cont01 .contList li:nth-child(3) a::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tit_icon03.png) center no-repeat; } 

.themaWrap h3.title { margin-bottom: 40px; padding-top: 140px; position: relative; font-size: 80px; text-align: center; } 
.themaWrap h3.title::before { content: ''; display: block; width: 165px; height: 165px; position: absolute; left: 50%; top: -84px; transform: translateX(-50%); background-position: center; background-repeat: no-repeat; border-radius: 50%; } 
.themaWrap h3.type01 { color: #ff7800; } 
.themaWrap h3.type01::before { background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tit_icon01.png); background-color: #bcf4dd; } 
.themaWrap h3.type02 { color: #8e54fd; } 
.themaWrap h3.type02::before { background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tit_icon02.png); background-color: #f4dafb; } 
.themaWrap h3.type03 { color: #e076a8; } 
.themaWrap h3.type03::before { background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tit_icon03.png); background-color: #ffcccc; } 
.themaWrap .cont02 .innerSection,
.themaWrap .cont03 .innerSection,
.themaWrap .cont04 .innerSection, 
.themaWrap .cont05 .innerSection { max-width: 1420px; } 
.themaWrap .cont02 { background: #fdf4e6; } 
.themaWrap .cont03 { background: #eceeff; } 
.themaWrap .cont04 { background: #feeff6; } 
.themaWrap .cont02 .innerSection,
.themaWrap .cont03 .innerSection,
.themaWrap .cont04 .innerSection { padding-bottom: 180px; } 
.themaWrap .listWrap { padding: 50px 20px; background: #fff; border-radius: 50px; } 
.themaWrap .listWrap .tabList { display: flex; max-width: 670px; margin: 0 auto 36px; } 
.themaWrap .listWrap .tabList li { background: #fff; border: 1px solid #000; border-radius: 60px; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1); flex: 1; } 
.themaWrap .listWrap .tabList li:first-child { margin-right: -20px; } 
.themaWrap .listWrap .tabList li.active { background: #ffe400; z-index: 2; } 
.themaWrap .listWrap .tabList li a { display: block; padding: 16px 0 12px; color: #000; font-size: 28px; letter-spacing: -1px; text-align: center; } 
.themaWrap .listWrap .tabCont { max-width: 1000px; margin: 0 auto 40px; } 
.themaWrap .listWrap .tabCont .tabItem { display: none; min-height: 176px; padding: 30px 10px 30px 70px; background: #fff; border: 1px solid #000; border-radius: 20px; } 
.themaWrap .listWrap .tabCont .tabItem.active { display: flex; align-items: center; } 
.themaWrap .listWrap .tabCont .tabItem p { padding-left: 120px; position: relative; color: #000; font-size: 22px; letter-spacing: -1px; } 
.themaWrap .listWrap .tabCont .tabItem p::before { content: ''; display: block; position: absolute; left: 0; top: 50%; transform: translateY(-50%); } 
.themaWrap .listWrap .tabCont .tabItem p.icon01::before { width: 77px; height: 91px; background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tab_icon01.png); } 
.themaWrap .listWrap .tabCont .tabItem p.icon02::before { width: 98px; height: 93px; background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tab_icon02.png); } 
.themaWrap .listWrap .tabCont .tabItem p.icon03::before { width: 102px; height: 87px; background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tab_icon03.png); } 
.themaWrap .listWrap .tabCont .tabItem p.icon04::before { width: 78px; height: 106px; background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tab_icon04.png); } 
.themaWrap .listWrap .tabCont .tabItem p.icon05::before { width: 97px; height: 99px; background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tab_icon05.png); } 
.themaWrap .listWrap .tabCont .tabItem p.icon06::before { width: 99px; height: 83px; background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/tab_icon06.png); } 
.themaWrap .listWrap .slideCont { max-width: 1060px; margin: 0 auto; } 
.themaWrap .listWrap .slideCont .titWrap { margin-bottom: 30px; } 
.themaWrap .listWrap .slideCont .titWrap p { width: 350px; padding: 24px 0 20px; margin: 0 auto; background: #e7e7e7; color: #000; font-size: 30px; border-radius: 10px; text-align: center; } 
.themaWrap .listWrap .slideCont .swiper-container { padding: 0 30px; } 
.themaWrap .listWrap .slideCont .imgWrap { display: flex; height: 40px; margin-bottom: 20px; align-items: center; justify-content: center; } 
.themaWrap .listWrap .slideCont .imgWrap img { height: 100%; object-fit: cover; } 
.themaWrap .listWrap .slideCont .txtWrap { padding: 35px 10px 35px 130px; min-height: 245px; border: 5px solid #f0f0f0; border-radius: 10px; } 
.themaWrap .listWrap .slideCont .txtWrap .tit { margin-bottom: 10px; position: relative; font-size: 24px; } 
.themaWrap .listWrap .slideCont .txtWrap .tit::before { content: ''; width: 31px; height: 31px; position: absolute; left: -36px; top: -2px; } 
.themaWrap .listWrap .slideCont .txtWrap .tit.icon01 { color: #0056cf; } 
.themaWrap .listWrap .slideCont .txtWrap .tit.icon02 { color: #0076bf; } 
.themaWrap .listWrap .slideCont .txtWrap .tit.icon03 { color: #000; } 
.themaWrap .listWrap .slideCont .txtWrap .tit.icon04 { color: #14bf96; } 
.themaWrap .listWrap .slideCont .txtWrap .tit.icon05 { color: #3476b9; } 
.themaWrap .listWrap .slideCont .txtWrap .tit.icon06 { color: #86bc24; } 
.themaWrap .listWrap .slideCont .txtWrap .tit.icon07 { color: #4285f4; } 
.themaWrap .listWrap .slideCont .txtWrap .tit.icon01::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/slide_icon01.png) no-repeat; } 
.themaWrap .listWrap .slideCont .txtWrap .tit.icon02::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/slide_icon02.png) no-repeat; } 
.themaWrap .listWrap .slideCont .txtWrap .tit.icon03::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/slide_icon03.png) no-repeat; } 
.themaWrap .listWrap .slideCont .txtWrap .tit.icon04::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/slide_icon04.png) no-repeat; } 
.themaWrap .listWrap .slideCont .txtWrap .tit.icon05::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/slide_icon05.png) no-repeat; } 
.themaWrap .listWrap .slideCont .txtWrap .tit.icon06::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/slide_icon06.png) no-repeat; } 
.themaWrap .listWrap .slideCont .txtWrap .tit.icon07::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/slide_icon07.png) no-repeat; } 
.themaWrap .listWrap .slideCont .txtWrap .txt { color: #5f5f5f; font-size: 24px; letter-spacing: -1px; } 
.themaWrap .listWrap .swiper-button-prev::after, .themaWrap .listWrap .swiper-button-next::after { content: none; } 
.themaWrap .listWrap .swiper-button-prev, .themaWrap .listWrap .swiper-button-next { width: 54px; height: 54px; margin-top: 0; top: 160px; z-index: 1; } 
.themaWrap .listWrap .swiper-button-next { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/right_btn.png) no-repeat; left: initial !important; right: 0; } 
.themaWrap .listWrap .swiper-button-prev { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/left_btn.png) no-repeat center; left: 0; } 
.themaWrap .cont05 { padding: 230px 0 250px; background: #fff; } 
.themaWrap .cont05 .titWrap { padding: 46px 10px 24px; margin-bottom: 100px; position: relative; background: #50dcd2; border-radius: 200px; text-align: center; } 
.themaWrap .cont05 .titWrap::before { content: ''; width: 176px; height: 176px; position: absolute; top: -145px; left: 50%; transform: translateX(-50%); background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_tit.png) no-repeat; } 
.themaWrap .cont05 .titWrap .imgWrap { margin-bottom: 20px; } 
.themaWrap .cont05 .titWrap p { margin-bottom: 20px; color: #000; font-size: 42px; } 
.themaWrap .cont05 .titWrap .txt { display: block; margin-bottom: 26px; color: #000; font-size: 28px; } 
.themaWrap .cont05 .titWrap a { display: inline-block; padding: 20px 30px 16px; background: #fffb81; color: #000; font-size: 20px; border: 2px solid #000; border-radius: 50px; } 
.themaWrap .cont05 .contWrap { max-width: 1000px; margin: 0 auto; } 
.themaWrap .cont05 .tit { margin-bottom: 30px; } 
.themaWrap .cont05 .tit.type01 { margin-bottom: 106px; } 
.themaWrap .cont05 .tit.type01 span { display: inline-block; padding-left: 200px; position: relative; } 
.themaWrap .cont05 .tit.type01 span::before { content: ''; width: 229px; height: 138px; position: absolute; top: -15px; left: -38px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_item01.png) no-repeat; } 
.themaWrap .cont05 .tit p { color: #000; font-size: 40px; text-align: center; } 
.themaWrap .cont05 .contList01 { display: flex; margin-bottom: 145px; gap: 30px; } 
.themaWrap .cont05 .contList01 li { width: 100%; padding: 38px 10px 30px; box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1); border-radius: 50px; text-align: center; } 
.themaWrap .cont05 .contList01 li::before { content: ''; display: block; width: 100%; height: 86px; margin: 0 auto 20px; } 
.themaWrap .cont05 .contList01 li:nth-child(1):before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_list01.png) center no-repeat; } 
.themaWrap .cont05 .contList01 li:nth-child(2):before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_list02.png) center no-repeat; } 
.themaWrap .cont05 .contList01 li:nth-child(3):before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_list03.png) center no-repeat; } 
.themaWrap .cont05 .contList01 li p { margin-bottom: 20px; color: #0eb3a7; font-size: 30px; } 
.themaWrap .cont05 .contList01 li span { color: #595959; font-size: 18px; } 
.themaWrap .cont05 .tit span { position: relative; } 
.themaWrap .cont05 .tit span.icon01 { padding-left: 74px; } 
.themaWrap .cont05 .tit span.icon01::before { content: ''; width: 67px; height: 100px; position: absolute; bottom: 0; left: 0; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_tit01.png) no-repeat; } 
.themaWrap .cont05 .contList02 { display: flex; margin-bottom: 150px; flex-wrap: wrap; gap: 30px; } 
.themaWrap .cont05 .contList02 > li { width: calc(100% / 2 - 15px); padding: 36px 10px 36px 120px; position: relative; box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1); border-radius: 50px; } 
.themaWrap .cont05 .contList02 > li::before { content: ''; position: absolute; bottom: 36px; left: 26px; } 
.themaWrap .cont05 .contList02 > li:nth-child(1):before { width: 75px; height: 94px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_list_item01.png) no-repeat; } 
.themaWrap .cont05 .contList02 > li:nth-child(2):before { width: 75px; height: 85px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_list_item02.png) no-repeat; } 
.themaWrap .cont05 .contList02 > li:nth-child(3):before { width: 77px; height: 87px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_list_item03.png) no-repeat; } 
.themaWrap .cont05 .contList02 > li:nth-child(4):before { width: 75px; height: 84px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_list_item04.png) no-repeat; } 
.themaWrap .cont05 .contList02 p { margin-bottom: 10px; color: #7d68d9; font-size: 30px; } 
.themaWrap .cont05 .contList02 .subList li { padding-left: 10px; position: relative; color: #595959; font-size: 18px; letter-spacing: -1px; } 
.themaWrap .cont05 .contList02 .subList li + li { margin-top: 4px; } 
.themaWrap .cont05 .contList02 .subList li::before { content: ''; width: 3px; height: 3px; position: absolute; top: 6px; left: 0; background: #595959; border-radius: 50%; } 
.themaWrap .cont05 .tit span.icon02 { padding-left: 80px; } 
.themaWrap .cont05 .tit span.icon02::before { content: ''; width: 72px; height: 92px; position: absolute; bottom: 0; left: 0; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_tit02.png) no-repeat; } 
.themaWrap .cont05 .contList03 li { padding: 20px 40px 20px 160px; position: relative; box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1); border-radius: 30px; } 
.themaWrap .cont05 .contList03 li + li { margin-top: 26px; } 
.themaWrap .cont05 .contList03 li::before { content: ''; position: absolute; top: 50%; transform: translateY(-50%); } 
.themaWrap .cont05 .contList03 li:nth-child(1)::before { width: 65px; height: 75px; left: 50px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_icon01.png) no-repeat; } 
.themaWrap .cont05 .contList03 li:nth-child(2)::before { width: 91px; height: 71px; left: 38px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_icon02.png) no-repeat; } 
.themaWrap .cont05 .contList03 li:nth-child(3)::before { width: 60px; height: 80px; left: 54px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_icon03.png) no-repeat; } 
.themaWrap .cont05 .contList03 li:nth-child(4)::before { width: 63px; height: 70px; left: 50px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_icon04.png) no-repeat; } 
.themaWrap .cont05 .contList03 li:nth-child(5)::before { width: 94px; height: 90px; left: 40px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont05_icon05.png) no-repeat; } 
.themaWrap .cont05 .contList03 li:nth-child(1) .txtWrap { background: #fff4c7; } 
.themaWrap .cont05 .contList03 li:nth-child(2) .txtWrap { background: #e2effc; } 
.themaWrap .cont05 .contList03 li:nth-child(3) .txtWrap { background: #cdf9e3; } 
.themaWrap .cont05 .contList03 li:nth-child(4) .txtWrap { background: #e2e1fa; } 
.themaWrap .cont05 .contList03 li:nth-child(5) .txtWrap { background: #ffe5ec; } 
.themaWrap .cont05 .contList03 li .txtWrap { display: flex; padding: 30px 10px 20px 40px; border-radius: 20px; align-items: center; } 
.themaWrap .cont05 .contList03 li .txtWrap p { width: 230px; margin-right: 10px; color: #000; font-size: 30px; flex-shrink: 0; } 
.themaWrap .cont05 .contList03 li .txtWrap span { color: #595959; font-size: 18px; line-height: 1.5; } 
.themaWrap .cont06 { background: #f4f4f4; } 
.themaWrap .cont06 .innerSection { padding-bottom: 110px; } 
.themaWrap .cont06 .titWrap { margin-bottom: 40px; text-align: center; } 
.themaWrap .cont06 .titWrap img { margin-top: -140px; } 
.themaWrap .cont06 .faqList li { background: #fff; } 
.themaWrap .cont06 .faqList li + li { margin-top: 10px; } 
.themaWrap .cont06 .faqList li a { display: block; padding: 26px 60px 26px 54px; position: relative; color: #000; font-size: 20px; } 
.themaWrap .cont06 .faqList li a::after { content: ''; width: 22px; height: 12px; position: absolute; top: 50%; right: 30px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/open_icon.png) no-repeat; transform: translateY(-50%) rotate(-180deg); transition: all 0.5s ease; } 
.themaWrap .cont06 .faqList li.active a::after { transform: translateY(-50%); } 
.themaWrap .cont06 .faqList li a p { padding-left: 40px; position: relative; } 
.themaWrap .cont06 .faqList li a p::before { content: ''; width: 28px; height: 28px; position: absolute; left: 0; top: -4px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont06_icon02.png) no-repeat; } 
.themaWrap .cont06 .faqList .answerWrap { display: none; padding: 10px 60px 30px 54px; } 
.themaWrap .cont06 .faqList .answerWrap p { padding-left: 40px; position: relative; color: #6761dd; font-size: 20px; } 
.themaWrap .cont06 .faqList .answerWrap p::before { content: ''; width: 28px; height: 28px; position: absolute; left: 0; top: -4px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240627/cont06_icon03.png) no-repeat; } 

@media all and (max-width:1700px){
 .themaWrap .leftMenu { display: none; } 
 }

 @media all and (max-width:1400px){
 .themaWrap .cont02 .innerSection, .themaWrap .cont03 .innerSection, .themaWrap .cont04 .innerSection, .themaWrap .cont05 .innerSection { width: calc(100% - 10px); } 
 }

@media all and (max-width:1200px){
 .themaWrap .mainVisual h2::before,
 .themaWrap .mainVisual h2::after { content: none; } 
 }

@media all and (max-width:1024px){
 .themaWrap .mainVisual .txtWrap::before,
 .themaWrap .mainVisual .txtWrap::after { content: none; } 
 .themaWrap .cont01 .innerSection { padding: 80px 0 100px; } 
.themaWrap .cont01 .contList { width: 100%; max-width: 800px; height: 300px; padding: 40px 48px; gap: 0 25px; background-size: contain; } 
.themaWrap .cont01 .contList li a { font-size: 26px; } 
.themaWrap h3.title::before { width: 120px; height: 120px; top: -60px; background-size: 50% auto; } 
.themaWrap h3.title { padding-top: 100px; } 
.themaWrap .listWrap .tabCont .tabItem p .for_mo { display: none; } 
.themaWrap .listWrap .slideCont .txtWrap { padding: 35px 24px 35px 65px; } 
.themaWrap .listWrap .slideCont .txtWrap .txt { word-break: keep-all; } 
.themaWrap .listWrap .slideCont .txtWrap .txt .for_mo { display: none; } 
.themaWrap .cont06 .innerSection { width: calc(100% - 10px); } 
 }

@media all and (max-width:860px){
 .themaWrap .mainVisual .innerSection { width: calc(100% - 10px); } 
 .themaWrap .mainVisual h2 img { max-width: 360px; } 
 .themaWrap .mainVisual .txtWrap { width: 100%; height: auto; margin: 0 auto; background: #FEFFE9; padding: 30px 20px; border: 1px solid #000; border-radius: 20px; } 
 .themaWrap .mainVisual .txtWrap .for_mo { display: none; } 
 .themaWrap .mainVisual .txtWrap p { margin-bottom: 20px; word-break: keep-all; } 
 .themaWrap .cont01 .contList { max-width: 600px; height: 229px; padding: 33px 35px; gap: 0 20px; } 
.themaWrap .cont01 .contList li a { padding-top: 30px; font-size: 20px; } 
.themaWrap .cont01 .contList li a::before { height: 50px; margin: 0 auto 16px; } 
.themaWrap .cont02 .innerSection, .themaWrap .cont03 .innerSection, .themaWrap .cont04 .innerSection, .themaWrap .cont05 .innerSection { padding-bottom: 120px; } 
.themaWrap h3.title { font-size: 60px; } 
.themaWrap .listWrap .tabList li a { font-size: 22px; } 
.themaWrap .listWrap .tabCont .tabItem { padding: 30px 20px; } 
.themaWrap .listWrap .tabCont .tabItem p { font-size: 20px; word-break: keep-all; } 
.themaWrap .listWrap .slideCont .titWrap p { width: 300px; padding: 16px 0 12px; font-size: 24px; } 
.themaWrap .listWrap .slideCont .imgWrap { padding: 4px 0; } 
.themaWrap .listWrap .slideCont .txtWrap .tit { font-size: 20px; } 
.themaWrap .listWrap .slideCont .txtWrap .txt { font-size: 20px; word-break: keep-all; } 
.themaWrap .listWrap .slideCont .txtWrap .tit::before { width: 26px; height: 26px; background-size: contain !important; } 
.themaWrap .cont05 { padding: 190px 0 50px; } 
.themaWrap .cont05 .titWrap { margin-bottom: 80px; padding: 46px 20px 24px; border-radius: 50px; } 
.themaWrap .cont05 .titWrap::before { width: 130px; height: 130px; top: -108px; background-size: contain; } 
.themaWrap .cont05 .titWrap .imgWrap img { max-width: 400px; width: 100%; } 
.themaWrap .cont05 .titWrap p { font-size: 34px; } 
.themaWrap .cont05 .titWrap .txt { font-size: 22px; word-break: keep-all; } 
.themaWrap .cont05 .tit.type01 p { display: flex; flex-direction: column; align-items: center; } 
.themaWrap .cont05 .tit.type01 span::before { top: 0px; left: -106px; } 
.themaWrap .cont05 .tit.type01 span { padding-left: 130px; } 
.themaWrap .cont05 .contList01 { margin-bottom: 130px; gap: 20px; flex-direction: column; } 
.themaWrap .cont05 .contList01 li { padding: 20px 10px 20px; border-radius: 30px; } 
.themaWrap .cont05 .contList01 li::before { margin: 0 auto 10px; } 
.themaWrap .cont05 .contList01 li p { margin-bottom: 10px; font-size: 26px; } 
.themaWrap .cont05 .contList02 > li { width: 100%; padding: 20px 10px 20px 150px; position: relative; box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1); border-radius: 50px; } 
.themaWrap .cont05 .contList02 > li::before { content: ''; position: absolute; bottom: initial; left: 40px; top: 50%; transform: translateY(-50%); } 
.themaWrap .cont05 .contList03 li .txtWrap { padding: 30px 10px; flex-direction: column; text-align: center; } 
.themaWrap .cont06 .titWrap img { max-width: 300px; width: 100%; } 
.themaWrap .cont06 .faqList li a { padding: 26px 60px 26px 30px; } 
.themaWrap .cont06 .faqList .answerWrap { padding: 10px 60px 30px 30px; } 
}

@media all and (max-width:640px){
 .themaWrap .mainVisual .titWrap { margin-bottom: 20px; } 
 .themaWrap .mainVisual h2 img { max-width: 260px; } 
 .themaWrap .mainVisual .txtWrap { padding: 15px 10px; } 
 .themaWrap .mainVisual .txtWrap p { font-size: 15px; } 
 .themaWrap .mainVisual .innerSection { padding: 30px 0; } 
 .themaWrap .mainVisual .txtWrap .linkWrap a { min-width: initial; width: 100%; max-width: 250px; padding: 10px; border: 2px solid #66bab5; } 
 .themaWrap .mainVisual .txtWrap .linkWrap a .logoImg img { max-width: 150px; } 
 .themaWrap .mainVisual .txtWrap .linkWrap a span { font-size: 16px; } 
 .themaWrap .mainVisual .txtWrap .linkWrap a::before { width: 25px; height: 25px; left: 4px; background-size: contain; } 
 .themaWrap .mainVisual .txtWrap .linkWrap a::after { width: 25px; height: 26px; background-size: contain; } 
 .themaWrap .cont01 .innerSection { padding: 30px 0 60px; } 
 .themaWrap .cont01 .contList { max-width: 300px; height: 114px; padding: 6px 16px; gap: 0 10px; } 
.themaWrap .cont01 .contList li a { padding-top: 26px; font-size: 12px; } 
.themaWrap .cont01 .contList li a::before { height: 20px; margin: 0 auto 10px; } 
.themaWrap .cont01 .contList li a em { display: block; } 
.themaWrap h3.title::before { width: 60px; height: 60px; top: -30px; } 
.themaWrap h3.title { margin-bottom: 20px; padding-top: 40px; font-size: 30px; } 
.themaWrap .listWrap { padding: 30px 10px; border-radius: 30px; } 
.themaWrap .listWrap .tabList li { border-radius: 20px; } 
.themaWrap .listWrap .tabList li:first-child { margin-right: -10px; } 
.themaWrap .listWrap .tabList li a { display: flex; height: 100%; padding: 10px 5px; font-size: 15px; word-break: keep-all; align-items: center; justify-content: center; } 
.themaWrap .listWrap .tabList li a br { display: none; } 
.themaWrap .listWrap .tabList { margin: 0 auto 20px; } 
.themaWrap .listWrap .tabCont .tabItem p::before { margin: 0 auto 10px; position: static; transform: none; background-size: contain !important; background-repeat: no-repeat; } 
.themaWrap .listWrap .tabCont .tabItem { padding: 20px 10px; } 
.themaWrap .listWrap .tabCont .tabItem p { padding: 0; font-size: 15px; text-align: center } 
.themaWrap .listWrap .tabCont .tabItem p.icon01::before { width: 45px; height: 53px; } 
.themaWrap .listWrap .tabCont .tabItem p.icon02::before { width: 55px; height: 52px; } 
.themaWrap .listWrap .tabCont .tabItem p.icon03::before { width: 60px; height: 51px; } 
.themaWrap .listWrap .tabCont .tabItem p.icon04::before { width: 45px; height: 61px; } 
.themaWrap .listWrap .tabCont .tabItem p.icon05::before { width: 60px; height: 61px; } 
.themaWrap .listWrap .tabCont .tabItem p.icon06::before { width: 55px; height: 46px; } 
.themaWrap .listWrap .tabCont { margin: 0 auto 20px; } 
.themaWrap .listWrap .slideCont .titWrap p { width: 100%; padding: 10px 0; font-size: 18px; } 
.themaWrap .listWrap .slideCont .imgWrap { padding: 8px 0; } 
.themaWrap .listWrap .swiper-button-prev, .themaWrap .listWrap .swiper-button-next { width: 27px; height: 27px; top: 130px; background-size: contain !important; } 
.themaWrap .listWrap .slideCont .swiper-container { padding: 0 10px; } 
.themaWrap .listWrap .slideCont .txtWrap { padding: 15px 20px 15px 40px; min-height: 170px; border: 2px solid #f0f0f0; } 
.themaWrap .listWrap .slideCont .txtWrap .tit { margin-bottom: 4px; font-size: 16px; } 
.themaWrap .listWrap .slideCont .txtWrap .tit::before { width: 18px; height: 18px; left: -24px; } 
.themaWrap .listWrap .slideCont .txtWrap .txt { font-size: 15px; } 
.themaWrap .cont02 .innerSection, .themaWrap .cont03 .innerSection, .themaWrap .cont04 .innerSection, .themaWrap .cont05 .innerSection { padding-bottom: 70px; } 
.themaWrap .cont05 { padding: 100px 0 30px; } 
.themaWrap .cont05 .titWrap::before { width: 80px; height: 80px; top: -65px; } 
.themaWrap .cont05 .titWrap .imgWrap img { max-width: 230px; } 
.themaWrap .cont05 .titWrap { margin-bottom: 40px; padding: 30px 10px 20px; border-radius: 30px; } 
.themaWrap .cont05 .titWrap .imgWrap { margin-bottom: 10px; } 
.themaWrap .cont05 .titWrap p { margin-bottom: 10px; font-size: 22px; } 
.themaWrap .cont05 .titWrap .txt { margin-bottom: 10px; font-size: 16px; } 
.themaWrap .cont05 .titWrap a { padding: 12px 10px; font-size: 18px; } 
.themaWrap .cont05 .tit p { font-size: 22px; } 
.themaWrap .cont05 .tit.type01 span { padding-left: 115px; } 
.themaWrap .cont05 .tit.type01 span::before { width: 110px; height: 66px; top: 0; left: 0; background-size: contain !important; } 
.themaWrap .cont05 .tit.type01 { margin-bottom: 46px; } 
.themaWrap .cont05 .contList01 li::before { height: 40px; background-size: contain !important; } 
.themaWrap .cont05 .contList01 li p { font-size: 18px; } 
.themaWrap .cont05 .contList01 li span { font-size: 15px; } 
.themaWrap .cont05 .contList02 { margin-bottom: 50px; gap: 10px; } 
.themaWrap .cont05 .contList02 > li::before { display: block; margin: 0 auto 10px; position: static; left: 40px; top: 50%; transform: none; background-size: contain !important; } 
.themaWrap .cont05 .contList02 > li { padding: 20px 10px 10px 20px; border-radius: 20px; } 
.themaWrap .cont05 .contList02 p { font-size: 18px; text-align: center;} 
.themaWrap .cont05 .contList02 .subList li { padding-left: 8px; font-size: 15px; } 
.themaWrap .cont05 .contList02 > li:nth-child(1):before { width: 40px; height: 50px; } 
.themaWrap .cont05 .contList02 > li:nth-child(2):before { width: 40px; height: 45px; } 
.themaWrap .cont05 .contList02 > li:nth-child(3):before { width: 40px; height: 45px; } 
.themaWrap .cont05 .contList02 > li:nth-child(4):before { width: 40px; height: 45px; } 
.themaWrap .cont05 .contList03 li::before { display: block; margin: 0 auto 10px; position: static; transform: none; background-size: contain !important; } 
.themaWrap .cont05 .contList03 li { padding: 20px 10px; } 
.themaWrap .cont05 .contList03 li:nth-child(1)::before { width: 40px; height: 46px; } 
.themaWrap .cont05 .contList03 li:nth-child(2)::before { width: 45px; height: 35px; } 
.themaWrap .cont05 .contList03 li:nth-child(3)::before { width: 30px; height: 40px; } 
.themaWrap .cont05 .contList03 li:nth-child(4)::before { width: 30px; height: 33px; } 
.themaWrap .cont05 .contList03 li:nth-child(5)::before { width: 45px; height: 43px; } 
.themaWrap .cont05 .contList03 li + li { margin-top: 10px; } 
.themaWrap .cont05 .contList03 li .txtWrap { padding: 20px 10px; } 
.themaWrap .cont05 .contList03 li .txtWrap p { width: 100%; margin-right: 0; font-size: 18px; } 
.themaWrap .cont05 .contList03 li .txtWrap span { font-size: 14px; word-break: keep-all; } 
.themaWrap .cont05 .contList01 { margin-bottom: 50px; gap: 10px; } 
.themaWrap .cont05 .tit span { display: block; } 
.themaWrap .cont05 .tit span.icon01 { padding-left: 0; } 
.themaWrap .cont05 .tit span.icon02 { padding-left: 0; } 
.themaWrap .cont05 .tit span.icon01::before { width: 30px; height: 45px; left: calc(50% - 78px); transform: translateX(-50%); background-size: contain; } 
.themaWrap .cont05 .tit span.icon02::before { width: 30px; height: 38px; left: calc(50% - 88px); transform: translateX(-50%); background-size: contain; } 
.themaWrap .cont06 .titWrap img { max-width: 160px; margin-top: -60px; } 
.themaWrap .cont06 .faqList li a { padding: 15px 34px 15px 20px; font-size: 15px; } 
.themaWrap .cont06 .faqList li a p { padding-left: 20px; } 
.themaWrap .cont06 .faqList li a p::before { width: 14px; height: 14px; left: 0; top: 0; background-size: contain !important; } 
.themaWrap .cont06 .faqList li a::after { width: 12px; height: 7px; top: 50%; right: 20px; background-size: contain !important; } 
.themaWrap .cont06 .faqList .answerWrap p::before { width: 14px; height: 14px; left: 0; top: 0; background-size: contain !important; } 
.themaWrap .cont06 .faqList .answerWrap { padding: 0 34px 15px 20px; } 
.themaWrap .cont06 .faqList .answerWrap p { padding-left: 20px; font-size: 15px; word-break: keep-all; } 
.themaWrap .cont06 .faqList .answerWrap p .for_mo { display: none; } 
.themaWrap .cont06 .innerSection { padding-bottom: 30px; } 
}