@font-face { font-family: 'SangSangAnt'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/SangSangAnt.woff') format('woff'); font-weight: normal; font-style: normal; } 
.themaWrap * { font-family: 'GmarketSans','Noto Sans KR' !important; font-weight: 500; line-height: 1.3; } 
.themaWrap .innerSection { max-width: 1160px; width: calc(100% - 20px); margin: 0 auto; padding: 0; } 
.gBold { font-weight: 700; } 
.sAnt { font-family: 'SangSangAnt', 'Noto Sans KR' !important; } 
#renewFooter .f_address .f_addr { display: none !important; } 

.themaWrap .for_pc { display: none; } 
.themaWrap .mainVisual { position: relative; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/main_bg.jpg) top center #676AF7 no-repeat; overflow: hidden; } 
.themaWrap .mainVisual::before { content: ''; width: 196px; height: 343px; position: absolute; bottom: -10px; left: 67px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/main_item01.png) no-repeat; } 
.themaWrap .mainVisual::after { content: ''; width: 335px; height: 310px; position: absolute; bottom: 0; right: 0; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/main_item02.png) no-repeat; } 
.themaWrap .mainVisual .innerSection { padding: 70px 0 0; } 
.themaWrap .mainVisual .titWrap { margin-bottom: 40px; text-align: center; } 
.themaWrap .mainVisual h2 { display: inline-block; } 
.themaWrap .mainVisual h2 img { width: 100%; } 
.themaWrap .mainVisual .txtWrap { padding: 50px 160px 60px; position: relative; text-align: right; background-color: rgba(0, 0, 0, 0.4); border-radius: 120px 120px 0 0; box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15); } 
.themaWrap .mainVisual .txtWrap::after { content: ''; width: 48px; height: 106px; position: absolute; top: -100px; right: 130px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/main_item03.png) no-repeat; } 
.themaWrap .mainVisual .txtWrap::before { content: ''; position: absolute; width: 100%; height: calc(100% + 15px); top: -15px; left: 0; background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/main_txt.png); background-repeat: no-repeat; background-position: bottom left 160px; background-color: rgba(0, 0, 0, 0.1); border-radius: 120px 120px 0 0; box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5); } 
.themaWrap .mainVisual .txtWrap .txtBox { display: inline-block; position: relative; text-align: center; z-index: 10; } 
.themaWrap .mainVisual .txtWrap p { margin-bottom: 20px; color: #fff; font-size: 32px; line-height: 1.2; } 
.themaWrap .mainVisual .txtWrap p span { color: #f9ff91; } 
.themaWrap .mainVisual .txtWrap .txt { color: #fff; font-size: 32px; line-height: 1.2; } 
.themaWrap .titWrap { margin-bottom: 90px; text-align: center; } 
.themaWrap .titWrap h3 { display: inline-block; } 
.themaWrap .titWrap h3 img { width: 100%; max-width: 800px;} 
.themaWrap .cont01 { background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/cont01_bg01.png), url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/cont01_bg02.png); background-position: top left, bottom right; background-repeat: no-repeat; background-color: #fffef1; } 
.themaWrap .cont01 .innerSection {max-width: 1000px; padding: 108px 0 180px; } 
.themaWrap .swiperArea .slideTit { margin-bottom: 40px; text-align: center; } 
.themaWrap .swiperArea .slideTit h4 { margin-bottom: 40px; font-size: 70px; line-height: 70px; text-shadow: 0px 0px 0px #000; word-break: keep-all; } 
.themaWrap .swiperArea .slideTit .infoList {max-width: 850px; margin: 0 auto; padding: 20px 10px; background: #fff; border: 6px solid #ff8b87; border-radius: 40px; box-shadow: 0px 10px 10px 0px rgba(255, 96, 90, 0.1); }
.themaWrap .swiperArea .slideTit ul { display: flex; max-width: 650px; margin: 0 auto; flex-wrap: wrap; gap: 10px 0;} 
.themaWrap .swiperArea .slideTit ul li { display: flex; width: 50%; align-items: center; } 
.themaWrap .swiperArea .slideTit li strong { display: flex; min-width: 95px; height: 35px; padding-top: 4px; margin-right: 20px; background: #f0f0f0; color: #ff5750; font-size: 22px; border-radius: 10px; align-items: center; justify-content: center; } 
.themaWrap .swiperArea .slideTit li p { color: #000; font-size: 24px; text-align: left; } 
.themaWrap .swiperArea + .swiperArea { margin-top: 80px; } 
.themaWrap .swiperArea .slideItem { position: relative; padding: 0 80px 50px; } 
.themaWrap .swiperArea .slideItem .swiper-container {
    max-width: 700px;
}
.themaWrap .swiperArea .slideItem li { padding: 5px; background: #fefefe; border: 8px solid #ffc9c7; border-radius: 40px; box-sizing: border-box; } 
.themaWrap .swiperArea .slideItem li .txtWrap { min-height: 760px; padding: 50px 10px 0; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); border-radius: 30px; text-align: center; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg01 { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/slide_bg01.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg02 { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/slide_bg02.png) center bottom 10px #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg03 { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/slide_bg03.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg04 { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/slide_bg04.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg05 { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/slide_bg05.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg06 { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/slide_bg06.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg07 { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/slide_bg07.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg08 { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/slide_bg08.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg09 { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/slide_bg09.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg10 { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/slide_bg10.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg11 { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/slide_bg11.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg12 { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/slide_bg12.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li p { color: #000; font-size: 35px; text-align: center; line-height: 1.4; letter-spacing: -1px; } 
.themaWrap .swiperArea .slideItem li p span { color: #ff0000; } 
.themaWrap .swiper-button-next:after, .themaWrap .swiper-container-rtl .swiper-button-prev:after,
.themaWrap .swiper-button-prev:after, .themaWrap .swiper-container-rtl .swiper-button-next:after { content: none; } 
.themaWrap .swiper-button-next,
.themaWrap .swiper-button-prev { width: 34px; height: 83px; margin: 0; top: calc(50% - 50px); transform: translateY(-50%); } 
.themaWrap .swiper-button-next { left: inherit !important; right: 50px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/right_btn01.png) no-repeat; } 
.themaWrap .swiper-button-prev { left: 50px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/left_btn01.png) no-repeat; } 
.themaWrap .swiper-pagination { left: 50%; bottom: 0; transform: translateX(-50%); } 
.themaWrap .swiper-pagination-bullet { width: 16px; height: 16px; cursor: pointer; background: #fff; border: 2px solid #aeaeae; box-sizing: border-box; opacity: 1; } 
.themaWrap .swiper-pagination-bullet + .swiper-pagination-bullet { margin-left: 10px; } 
.themaWrap .swiper-pagination-bullet-active { background: #000; border-color: #000; } 
.themaWrap .cont02 { background-image: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/cont02_bg01.png), url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/cont02_bg02.png); background-position: top left, bottom right; background-repeat: no-repeat; background-color: #f1faff; } 
.themaWrap .cont02 .innerSection {max-width: 1000px; padding: 150px 0 160px; } 
.themaWrap .swiperArea.style02 .slideTit .infoList {gap: 0; border-color: #71b1ff; gap: 0;}
.themaWrap .swiperArea.style02 .slideTit ul {max-width: 726px;}
.themaWrap .swiperArea.style02 .slideTit li { width: auto; align-items: initial; } 
.themaWrap .swiperArea.style02 .slideTit li p { padding-top: 4px; word-break: keep-all; } 
.themaWrap .swiperArea.style02 .slideItem li { border-color: #afd3ff; } 
.themaWrap .swiperArea.style02 .slideTit li:nth-child(odd) { width: 280px; } 
.themaWrap .swiperArea.style02 .slideTit li:nth-child(even) strong { min-width: 138px; } 
.themaWrap .swiperArea.style02 .slideTit li strong { color: #2788ff; } 
.themaWrap .swiperArea.style02 .slideItem li .txtWrap { min-height: 1000px; } 
.themaWrap .swiperArea.style02 .slideItem li .txtWrap > p + p { margin-top: 10px; } 
.themaWrap .swiperArea.style02 .swiper-button-prev { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/left_btn02.png) no-repeat; } 
.themaWrap .swiperArea.style02 .swiper-button-next { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/right_btn02.png) no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg13 { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/slide_bg13.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg14 { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/slide_bg14.png) center bottom 10px #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style02 { padding: 40px 10px 10px 38px; text-align: left; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style02 > div + div { margin-top: 30px; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style02 p { padding-left: 16px; text-align: left; line-height: 1.3; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style02 strong { display: inline-flex; width: 172px; height: 62px; margin-bottom: 24px; padding-top: 6px; background: #afd3ff; color: #000; font-size: 35px; border-radius: 10px; align-items: center; justify-content: center; } 
.themaWrap .swiperArea .slideItem li .txtWrap li { padding: initial; padding-left: 56px; position: relative; color: #000; font-size: 35px; background: initial; border: initial; border-radius: initial; letter-spacing: -1px; } 
.themaWrap .swiperArea .slideItem li .txtWrap li + li { margin-top: 16px; } 
.themaWrap .swiperArea .slideItem li .txtWrap li::before { position: absolute; top: 0; left: 16px; font-family: inherit; } 
.themaWrap .swiperArea .slideItem li .txtWrap li span { color: #ff0000; } 
.themaWrap .swiperArea .slideItem li .txtWrap li:nth-child(1)::before { content: '①'; } 
.themaWrap .swiperArea .slideItem li .txtWrap li:nth-child(2)::before { content: '②'; } 
.themaWrap .swiperArea .slideItem li .txtWrap li:nth-child(3)::before { content: '③'; } 
.themaWrap .swiperArea .slideItem li .txtWrap li:nth-child(4)::before { content: '④'; } 
.themaWrap .swiperArea .slideItem li .txtWrap li:nth-child(5)::before { content: '⑤'; } 
.themaWrap .swiperArea .slideItem li .txtWrap li:nth-child(6)::before { content: '⑥'; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style03 { padding: 90px 10px 10px 40px; text-align: left; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style03 li + li { margin-top: 50px; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style04 { display: flex; padding: 0 10px 10px 40px; align-items: center; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style04 li + li { margin-top: 40px; } 
.themaWrap .cont03 { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/cont03.png) center #f0f0f0 no-repeat; } 
.themaWrap .cont03 .innerSection { padding: 0 0 200px; } 
.themaWrap .cont03 .tabWrap { padding-top: 260px; overflow: hidden; } 
.themaWrap .cont03 .tabList { display: flex; width: 100%; justify-content: space-between; } 
.themaWrap .cont03 .tabList li { position: relative; text-align: center; z-index: 1; } 
.themaWrap .cont03 .tabList li:nth-child(1).active::before { content: ''; width: 156px; height: 139px; position: absolute; top: -132px; left: 180px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/cont03_btn_icon01.png) no-repeat; } 
.themaWrap .cont03 .tabList li:nth-child(2).active::before { content: ''; width: 171px; height: 132px; position: absolute; top: -127px; right: 175px; left: initial; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/cont03_btn_icon02.png) no-repeat; } 
.themaWrap .cont03 .tabList li.active { z-index: 10; } 
.themaWrap .cont03 .tabList li.active a { color: #000; } 
.themaWrap .cont03 .tabList li:nth-child(2) a { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/cont03_btn02.png) center no-repeat; margin-left: -52px; border-radius: 20px 20px 0 0; } 
.themaWrap .cont03 .tabList li a { display: flex; width: 606px; height: 134px; padding-top: 10px; background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/cont03_btn01.png) center no-repeat; color: #fff; font-size: 48px; align-items: center; justify-content: center; box-sizing: border-box; } 
.themaWrap .cont03 .tabList li:nth-child(1) a span { margin-left: -40px; } 
.themaWrap .cont03 .tabList li:nth-child(2) a span { margin-right: -40px; } 
.themaWrap .cont03 .tabCont .tabItem { display: none; padding: 80px 80px 50px; min-height: 964px; position: relative; background: #ffc64a; border-radius: 0 0 30px 30px; box-shadow: 20px -25px 23px -20px rgba(0, 0, 0, 0.45); z-index: 5; } 
.themaWrap .cont03 .tabCont .tabItem:nth-child(2) { background: #32d0e8; box-shadow: -20px -25px 23px -20px rgba(0, 0, 0, 0.45); } 
.themaWrap .cont03 .tabCont .tabItem.active { display: block; } 
.themaWrap .cont03 .tabItem .tabList01 { display: flex; flex-wrap: wrap; justify-content: space-between; gap: 60px 30px; } 
.themaWrap .cont03 .tabItem .tabList01 li { width: calc(100% / 3 - 20px); } 
.themaWrap .cont03 .tabItem .tabList01 a { display: block; min-height: 367px; padding: 34px 10px 10px; position: relative; background: #fff; border-radius: 50px; box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1); text-align: center; } 
.themaWrap .cont03 .tabItem .tabList01 a::before { content: ''; display: block; width: 100%; height: 102px; margin: 0 auto 20px; } 
.themaWrap .cont03 .tabItem .tabList01 li:nth-child(1) a::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/list01_icon01.png) center no-repeat; } 
.themaWrap .cont03 .tabItem .tabList01 li:nth-child(2) a::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/list01_icon02.png) center no-repeat; } 
.themaWrap .cont03 .tabItem .tabList01 li:nth-child(3) a::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/list01_icon03.png) center no-repeat; } 
.themaWrap .cont03 .tabItem .tabList01 li:nth-child(4) a::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/list01_icon04.png) center no-repeat; } 
.themaWrap .cont03 .tabItem .tabList01 li:nth-child(5) a::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/list01_icon05.png) center no-repeat; } 
.themaWrap .cont03 .tabItem .tabList01 li:nth-child(6) a::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/list01_icon06.png) center no-repeat; } 

.themaWrap .cont03 .tabItem ul a::after { content: ''; width: 68px; height: 68px; position: absolute; bottom: -34px; left: 50%; transform: translateX(-50%); background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/list_btn.png) no-repeat; } 
.themaWrap .cont03 .tabItem .tabList01 a p { min-height: 80px; margin-bottom: 10px; color: #ff921e; font-size: 36px; text-align: center; line-height: 1.1; } 
.themaWrap .cont03 .tabItem .tabList01 a span { color: #000; font-size: 22px; letter-spacing: -1px; } 
.themaWrap .cont03 .tabList02 { display: flex; max-width: 782px; margin: 0 auto; justify-content: space-between; flex-wrap: wrap; gap: 70px 54px; } 
.themaWrap .cont03 .tabList02 li { width: calc(100% / 2 - 27px); } 
.themaWrap .cont03 .tabList02 a { display: block; padding: 18px; min-height: 367px; background: #fff; position: relative; border-radius: 50px; box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1); text-align: center; } 
.themaWrap .cont03 .tabList02 a::before { content: ''; display: block; width: 100%; height: 131px; margin-bottom: 20px; background-size: contain !important; } 
.themaWrap .cont03 .tabList02 li:nth-child(1) a::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/list_img01.png) top center no-repeat; } 
.themaWrap .cont03 .tabList02 li:nth-child(2) a::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/list_img02.png) top center no-repeat; } 
.themaWrap .cont03 .tabList02 li:nth-child(3) a::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/list_img03.png) top center no-repeat; } 
.themaWrap .cont03 .tabList02 li:nth-child(4) a::before { background: url(https://chaebonggi.github.io/jobabamain/html/thema/images/20240731/list_img04.png) top center no-repeat; } 
.themaWrap .cont03 .tabList02 p { margin-bottom: 10px; color: #0059c8; font-size: 36px; line-height: 1.1; } 
.themaWrap .cont03 .tabList02 span { color: #000; font-size: 22px; letter-spacing: -1px; } 


@media all and (max-width:1700px){
 .themaWrap .mainVisual::before,
 .themaWrap .mainVisual::after { content: none; } 
 }

 @media all and (max-width:1200px){
 .themaWrap .cont03 .tabList li { width: 100%; } 
 .themaWrap .cont03 .tabList li:nth-child(1) { margin-right: -20px; } 
 .themaWrap .cont03 .tabList li a { width: 100%; background: #ffc64a; border-radius: 50px 300px 0 0; } 
 .themaWrap .cont03 .tabList li:nth-child(2) a { margin-left: 0; background: #32d0e8; border-radius: 300px 50px 0 0; } 
 .themaWrap .cont03 .tabCont .tabItem { padding: 80px 30px 50px; } 
}


@media all and (max-width:1024px){
 .themaWrap .mainVisual .txtWrap { padding: 50px 10px 60px; text-align: center; } 
 .themaWrap .mainVisual .txtWrap::before { background-position: bottom left 60px; background-size: 150px auto; } 
 .themaWrap .swiperArea .slideItem { padding: 0 50px 56px; } 
 .themaWrap .swiperArea .slideItem li p { font-size: 26px; } 
 .themaWrap .swiperArea .slideItem li .txtWrap { min-height: 600px; background-size: 70% auto !important; } 

 .themaWrap .swiperArea.style02 .slideTit ul { flex-direction: column; gap: 8px 0; } 
.themaWrap .swiperArea.style02 .slideTit ul li { width: 100%; } 
.themaWrap .swiperArea.style02 .slideTit li:nth-child(odd) {
    width: 100%;
}
.themaWrap .swiperArea.style02 .slideTit li strong { min-width: 120px !important; } 
.themaWrap .swiperArea .slideTit li p br { display: none; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style02 strong { width: 150px; height: 50px; margin-bottom: 20px; padding-top: 6px; font-size: 26px; } 
.themaWrap .swiperArea .slideItem li .txtWrap li { padding-left: 48px; font-size: 26px; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style02 { padding: 40px 10px 10px 20px; } 
.themaWrap .swiperArea.style02 .slideItem li .txtWrap { background-size: 50% auto !important; } 
.themaWrap .swiperArea.style02 .slideItem li .txtWrap { min-height: 760px; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style03 li + li { margin-top: 20px; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style04 { padding: 0 10px; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style02 > div + div { margin-top: 15px; } 
.themaWrap .swiperArea .slideItem li .txtWrap li + li { margin-top: 8px; } 

.themaWrap .cont03 .tabItem .tabList01 { gap: 60px 20px; } 
.themaWrap .cont03 .tabItem .tabList01 li { width: calc(100% / 3 - 14px); } 
.themaWrap .cont03 .tabList li a { font-size: 38px; } 
.themaWrap .cont03 .tabList li:nth-child(1) a span { margin-left: -20px; } 
.themaWrap .cont03 .tabItem .tabList01 a p { font-size: 30px; } 
.themaWrap .cont03 .tabItem .tabList01 a span { font-size: 20px; word-break: keep-all; } 
.themaWrap .cont03 .tabList li:nth-child(2).active::before { right: 60px; } 
.themaWrap .cont03 .tabList li:nth-child(1).active::before { left: 60px; } 
.themaWrap .cont03 .tabList02 p { font-size: 30px; } 
.themaWrap .cont03 .tabList02 span { font-size: 20px; } 
.themaWrap .swiper-button-prev {
    left: 0;
}
.themaWrap .swiper-button-next {
    right: 0;
}


}
@media all and (max-width:860px){
 .themaWrap .mainVisual h2 img { max-width: 480px; } 
 .themaWrap .mainVisual .txtWrap { padding: 40px 10px 40px; } 
 .themaWrap .mainVisual .txtWrap::after { content: none; } 
 .themaWrap .mainVisual .txtWrap::before { background-image: none; } 
 .themaWrap .mainVisual .txtWrap p { font-size: 26px; } 
 .themaWrap .mainVisual .txtWrap .txt { font-size: 26px; } 

 .themaWrap .titWrap h3 img { max-width: 480px; } 
 .themaWrap .titWrap { margin-bottom: 60px; } 
.themaWrap .swiperArea .slideTit h4 { margin-bottom: 30px; font-size: 60px; line-height: 60px; } 
.themaWrap .swiperArea .slideTit .infoList {max-width: 650px; padding: 20px 30px; border: 6px solid #ff8b87; border-radius: 40px; gap: 8px 0;}
.themaWrap .swiperArea .slideTit ul {  flex-direction: column; } 
.themaWrap .swiperArea .slideTit ul li { width: 100%; } 
.themaWrap .swiperArea .slideTit li strong { margin-right: 20px; font-size: 20px; } 
.themaWrap .swiperArea .slideTit li p { font-size: 22px; } 
.themaWrap .swiper-button-next, .themaWrap .swiper-button-prev { display: none; } 
.themaWrap .swiperArea .slideItem { max-width: 650px; padding: 0 0 56px; margin: 0 auto; } 
.themaWrap .swiperArea .slideItem li p { font-size: 20px; } 
.themaWrap .swiperArea .slideItem li { padding: 10px; border: 6px solid #ffc9c7; border-radius: 30px; } 
.themaWrap .swiperArea .slideItem li .txtWrap { min-height: 450px; padding: 30px 10px 0; border-radius: 20px; } 
.themaWrap .swiper-pagination-bullet { width: 16px; height: 16px; } 
.themaWrap .swiperArea + .swiperArea { margin-top: 60px; } 
.themaWrap .cont01 { background-size: 200px auto; } 
.themaWrap .cont01 .innerSection { padding: 60px 0 60px; } 

.themaWrap .cont02 { background-size: 200px auto; } 
.themaWrap .cont02 .innerSection { padding: 60px 0 60px; } 
.themaWrap .swiperArea.style02 .slideTit .infoList { padding: 20px 30px; border: 6px solid #71b1ff;}
.themaWrap .swiperArea .slideItem li .txtWrap.style02 strong { width: 120px; height: 40px; margin-bottom: 10px; font-size: 20px; } 
.themaWrap .swiperArea .slideItem li .txtWrap li::before { left: 0; } 
.themaWrap .swiperArea .slideItem li .txtWrap li { padding-left: 26px; font-size: 20px; word-break: keep-all; } 
.themaWrap .for_tb { display: none; } 
.themaWrap .swiperArea.style02 .slideItem li .txtWrap { background-size: 40% auto !important; } 
.themaWrap .swiperArea.style02 .slideItem li .txtWrap { min-height: 560px; padding: 20px 10px 10px 20px; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style02 p { padding-left: 0; } 
.themaWrap .cont03 .tabWrap { padding-top: 140px; } 
.themaWrap .cont03 .tabList li:nth-child(1).active::before { width: 100px; height: 89px; top: -85px; background-size: contain; } 
.themaWrap .cont03 .tabList li:nth-child(2).active::before { width: 120px; height: 93px; top: -89px; background-size: contain; } 
.themaWrap .cont03 .tabList li a { height: 100px; font-size: 28px; } 
.themaWrap .cont03 .tabItem .tabList01 li { width: calc(100% / 2 - 10px); } 
.themaWrap .cont03 .tabList02 { gap: 60px 20px; } 
.themaWrap .cont03 .tabList02 li { width: calc(100% / 2 - 10px); } 
.themaWrap .cont03 .tabList02 a::before { height: 92px; background-size: initial !important; border-radius: 20px 20px 0 0; } 
.themaWrap .cont03 .tabList02 p { font-size: 28px; } 
.themaWrap .cont03 .tabList02 a { min-height: 320px; } 
.themaWrap .cont03 .innerSection { padding: 0 0 60px; } 

}
@media all and (max-width:640px){
 .themaWrap .for_mo { display: none; } 
 .themaWrap .innerSection { width: calc(100% - 10px); } 
 .themaWrap .mainVisual .innerSection { padding: 30px 0 0; } 
 .themaWrap .mainVisual .titWrap { margin-bottom: 20px; } 
 .themaWrap .mainVisual h2 img { max-width: 260px; } 
 .themaWrap .mainVisual .txtWrap { padding: 30px 10px 20px; border-radius: 40px 40px 0 0; box-shadow: initial; } 
 .themaWrap .mainVisual .txtWrap::before { height: calc(100% + 6px); top: -6px; border-radius: 40px 40px 0 0; } 
 .themaWrap .mainVisual .txtWrap p { margin-bottom: 10px; font-size: 16px; } 
 .themaWrap .mainVisual .txtWrap .txt { font-size: 16px; } 
 
 .themaWrap .cont01 .innerSection { padding: 30px 0; } 
.themaWrap .titWrap h3 img { max-width: 240px; } 
.themaWrap .titWrap { margin-bottom: 20px; } 
.themaWrap .swiperArea .slideTit { margin-bottom: 20px; } 
.themaWrap .swiperArea .slideTit h4 { margin-bottom: 20px; font-size: 30px; line-height: 30px; } 
.themaWrap .swiperArea .slideTit .infoList {padding: 20px 20px; border: 3px solid #ff8b87; border-radius: 20px; gap: 4px 0;}
.themaWrap .swiperArea.style02 .slideTit .infoList {padding: 20px 20px; border: 3px solid #71b1ff; border-radius: 20px; gap: 4px 0;}
.themaWrap .swiperArea .slideTit ul li { display: block; } 
.themaWrap .swiperArea .slideTit li strong { min-width: 100%; height: 30px; padding-top: 0; margin-right: 0; margin-bottom: 10px; font-size: 14px; } 
.themaWrap .swiperArea .slideTit li p { font-size: 12px; text-align: center; } 
.themaWrap .swiperArea .slideItem { padding: 0 0 30px; } 
.themaWrap .swiperArea .slideItem li { padding: 2px; border: 2px solid #ffc9c7; border-radius: 20px; } 
.themaWrap .swiperArea .slideItem li p { font-size: 14px; word-break: keep-all; } 
.themaWrap .swiperArea .slideItem li .txtWrap { min-height: 260px; padding: 20px 10px; border-radius: 15px; background-size: 50% auto !important; position: relative; isolation: isolate; overflow: hidden; } 
.themaWrap .swiperArea .slideItem li .txtWrap::after { content: ''; position: absolute; background: white; z-index: -1; inset: 0; opacity: 0.8; } 
.themaWrap .swiper-pagination-bullet { width: 10px; height: 10px; border: 1px solid #aeaeae; } 
.themaWrap .swiper-pagination-bullet + .swiper-pagination-bullet { margin-left: 4px; } 
.themaWrap .swiperArea + .swiperArea { margin-top: 30px; } 
.themaWrap .swiperArea.style02 .slideTit li:nth-child(odd) { width: 100%; } 
.themaWrap .swiperArea.style02 .slideTit li strong { min-width: 100% !important; } 

.themaWrap .swiperArea .slideItem li .txtWrap li { padding-left: 16px; font-size: 14px; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style03 li + li { margin-top: 4px; } 
.themaWrap .swiperArea.style02 .slideItem li .txtWrap > p + p { margin-top: 4px; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style02 strong { width: 100%; height: 30px; padding-top: 0; font-size: 14px; } 
.themaWrap .swiperArea.style02 .slideItem li .txtWrap { min-height: 415px; padding: 20px 10px; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style02 > div + div { margin-top: 4px; } 
.themaWrap .swiperArea .slideItem li .txtWrap li + li { margin-top: 4px; } 

.themaWrap .for_pc { display: block; } 
.themaWrap .cont03 .tabList li:nth-child(2) a { border-radius: 40px 20px 0 0; } 
.themaWrap .cont03 .tabList li a { height: 70px; padding: 20px 10px 10px; border-radius: 20px 40px 0 0; font-size: 18px; } 
.themaWrap .cont03 .tabList li:nth-child(1) a span { margin-left: -10px; } 
.themaWrap .cont03 .tabList li:nth-child(2) a span { margin-right: -10px; } 
.themaWrap .cont03 .tabList li:nth-child(1).active::before { width: 60px; height: 54px; top: -50px; left: 20px; background-size: contain; } 
.themaWrap .cont03 .tabList li:nth-child(2).active::before { width: 65px; height: 50px; top: -48px; right: 20px; background-size: contain; } 
.themaWrap .cont03 .tabWrap { padding-top: 90px; } 
.themaWrap .cont03 .innerSection { padding: 0 0 30px; } 
.themaWrap .cont03 .tabCont .tabItem { min-height: auto; padding: 30px 5px 50px; } 
.themaWrap .cont03 .tabItem .tabList01 a::before { height: 50px; margin: 0 auto 10px; background-size: contain !important; } 
.themaWrap .cont03 .tabItem ul a::after { width: 40px; height: 40px; bottom: -20px; background-size: contain; } 
.themaWrap .cont03 .tabItem .tabList01 a { min-height: 190px; padding: 20px 5px 10px; border-radius: 20px; } 
.themaWrap .cont03 .tabItem .tabList01 { gap: 30px 4px; } 
.themaWrap .cont03 .tabItem .tabList01 li { width: calc(100% / 2 - 2px); } 
.themaWrap .cont03 .tabItem .tabList01 a p { min-height: 44px; margin-bottom: 4px; font-size: 18px; } 
.themaWrap .cont03 .tabItem .tabList01 a span { display: block; font-size: 12px; } 
.themaWrap .cont03 .tabList02 { gap: 30px 4px; } 
.themaWrap .cont03 .tabList02 li { width: calc(100% / 2 - 2px); } 
.themaWrap .cont03 .tabList02 a { padding: 4px; min-height: 180px; border-radius: 20px; } 
.themaWrap .cont03 .tabList02 a::before { height: 50px; margin-bottom: 10px; background-size: cover !important; background-position: center !important; } 
.themaWrap .cont03 .tabList02 p { font-size: 18px; letter-spacing: -1px; } 
.themaWrap .cont03 .tabList02 span { display: block; font-size: 12px; } 
.themaWrap .swiperArea.style02 .slideTit ul {gap: 10px 0;}
}