@font-face { font-family: 'SangSangAnt'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/SangSangAnt.woff') format('woff'); font-weight: normal; font-style: normal; } 
.themaWrap * { font-family: 'GmarketSans','Noto Sans KR' !important; font-weight: 500; line-height: 1.3; } 
.themaWrap .innerSection { max-width: 1160px; width: calc(100% - 20px); margin: 0 auto; padding: 0; } 
.gBold { font-weight: 700; } 
.sAnt { font-family: 'SangSangAnt', 'Noto Sans KR' !important; } 
#renewFooter .f_address .f_addr { display: none !important; } 

.themaWrap .mainVisual { position: relative; background: url(../images/20240731/main_bg.jpg) top center #676AF7 no-repeat; overflow: hidden; } 
.themaWrap .mainVisual::before { content: ''; width: 196px; height: 343px; position: absolute; bottom: -10px; left: 67px; background: url(../images/20240731/main_item01.png) no-repeat; } 
.themaWrap .mainVisual::after { content: ''; width: 335px; height: 310px; position: absolute; bottom: 0; right: 0; background: url(../images/20240731/main_item02.png) no-repeat; } 
.themaWrap .mainVisual .innerSection { padding: 70px 0 0; } 
.themaWrap .mainVisual .titWrap { margin-bottom: 40px; text-align: center; } 
.themaWrap .mainVisual h2 { display: inline-block; } 
.themaWrap .mainVisual h2 img { width: 100%; } 
.themaWrap .mainVisual .txtWrap { padding: 50px 160px 60px; position: relative; text-align: right; background-color: rgba(0, 0, 0, 0.4); border-radius: 120px 120px 0 0; box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15); } 
.themaWrap .mainVisual .txtWrap::after { content: ''; width: 48px; height: 106px; position: absolute; top: -100px; right: 130px; background: url(../images/20240731/main_item03.png) no-repeat; } 
.themaWrap .mainVisual .txtWrap::before { content: ''; position: absolute; width: 100%; height: calc(100% + 15px); top: -15px; left: 0; background-image: url(../images/20240731/main_txt.png); background-repeat: no-repeat; background-position: bottom left 160px; background-color: rgba(0, 0, 0, 0.1); border-radius: 120px 120px 0 0; box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5); } 
.themaWrap .mainVisual .txtWrap .txtBox { display: inline-block; position: relative; text-align: center; z-index: 10; } 
.themaWrap .mainVisual .txtWrap p { margin-bottom: 20px; color: #fff; font-size: 32px; line-height: 1.2; } 
.themaWrap .mainVisual .txtWrap p span { color: #f9ff91; } 
.themaWrap .mainVisual .txtWrap .txt { color: #fff; font-size: 32px; line-height: 1.2; } 
.themaWrap .titWrap { margin-bottom: 90px; text-align: center; } 
.themaWrap .titWrap h3 { display: inline-block; } 
.themaWrap .titWrap h3 img { width: 100%; } 
.themaWrap .cont01 { background-image: url(../images/20240731/cont01_bg01.png), url(../images/20240731/cont01_bg02.png); background-position: top left, bottom right; background-repeat: no-repeat; background-color: #fffef1; } 
.themaWrap .cont01 .innerSection { padding: 108px 0 180px; } 
.themaWrap .swiperArea .slideTit { margin-bottom: 40px; text-align: center; } 
.themaWrap .swiperArea .slideTit h4 { margin-bottom: 46px; font-size: 96px; line-height: 80px; text-shadow: 0px 0px 0px #000; word-break: keep-all; } 
.themaWrap .swiperArea .slideTit ul { display: flex; max-width: 1000px; margin: 0 auto; padding: 26px 130px; background: #fff; border: 8px solid #ff8b87; border-radius: 100px; box-shadow: 0px 10px 10px 0px rgba(255, 96, 90, 0.1); flex-wrap: wrap; gap: 16px 0;}
.themaWrap .swiperArea .slideTit ul li { display: flex; width: 50%; align-items: center; } 
.themaWrap .swiperArea .slideTit li strong { display: flex; min-width: 95px; height: 40px; padding-top: 4px; margin-right: 20px; background: #f0f0f0; color: #ff5750; font-size: 24px; border-radius: 10px; align-items: center; justify-content: center; } 
.themaWrap .swiperArea .slideTit li p { color: #000; font-size: 28px; text-align: left; } 
.themaWrap .swiperArea + .swiperArea { margin-top: 110px; } 
.themaWrap .swiperArea .slideItem { position: relative; padding: 0 80px 56px; } 
.themaWrap .swiperArea .slideItem li { padding: 20px; background: #fefefe; border: 10px solid #ffc9c7; border-radius: 50px; box-sizing: border-box; }
.themaWrap .swiperArea .slideItem li .txtWrap { min-height: 760px; padding: 50px 10px 0; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); border-radius: 30px; text-align: center; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg01 { background: url(../images/20240731/slide_bg01.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg02 { background: url(../images/20240731/slide_bg02.png) center bottom 10px #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg03 { background: url(../images/20240731/slide_bg03.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg04 { background: url(../images/20240731/slide_bg04.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg05 { background: url(../images/20240731/slide_bg05.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg06 { background: url(../images/20240731/slide_bg06.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg07 { background: url(../images/20240731/slide_bg07.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg08 { background: url(../images/20240731/slide_bg08.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg09 { background: url(../images/20240731/slide_bg09.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg10 { background: url(../images/20240731/slide_bg10.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg11 { background: url(../images/20240731/slide_bg11.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg12 { background: url(../images/20240731/slide_bg12.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li p { color: #000; font-size: 35px; text-align: center; line-height: 1.4; letter-spacing: -1px; } 
.themaWrap .swiperArea .slideItem li p span { color: #ff0000; } 
.themaWrap .swiper-button-next:after, .themaWrap .swiper-container-rtl .swiper-button-prev:after,
.themaWrap .swiper-button-prev:after, .themaWrap .swiper-container-rtl .swiper-button-next:after { content: none; } 
.themaWrap .swiper-button-next,
.themaWrap .swiper-button-prev { width: 34px; height: 83px; margin: 0; top: 50%; transform: translateY(-50%); } 
.themaWrap .swiper-button-next { left: inherit !important; right: 0; background: url(../images/20240731/right_btn01.png) no-repeat; } 
.themaWrap .swiper-button-prev { left: 0; background: url(../images/20240731/left_btn01.png) no-repeat; } 
.themaWrap .swiper-pagination { left: 50%; bottom: 0; transform: translateX(-50%); } 
.themaWrap .swiper-pagination-bullet { width: 20px; height: 20px; cursor: pointer; background: #fff; border: 2px solid #aeaeae; box-sizing: border-box; opacity: 1; } 
.themaWrap .swiper-pagination-bullet + .swiper-pagination-bullet { margin-left: 10px; } 
.themaWrap .swiper-pagination-bullet-active { background: #000; border-color: #000; } 
.themaWrap .cont02 { background-image: url(../images/20240731/cont02_bg01.png), url(../images/20240731/cont02_bg02.png); background-position: top left, bottom right; background-repeat: no-repeat; background-color: #f1faff; } 
.themaWrap .cont02 .innerSection { padding: 220px 0 160px; } 
.themaWrap .swiperArea.style02 .slideTit ul { padding: 26px 74px; border-color: #71b1ff; gap: 0; } 
.themaWrap .swiperArea.style02 .slideTit li { width: auto; align-items: initial; } 
.themaWrap .swiperArea.style02 .slideTit li p { padding-top: 4px; } 
.themaWrap .swiperArea.style02 .slideItem li { border-color: #afd3ff; } 
.themaWrap .swiperArea.style02 .slideTit li:nth-child(odd) { width: 320px; } 
.themaWrap .swiperArea.style02 .slideTit li:nth-child(even) strong { min-width: 138px; } 
.themaWrap .swiperArea.style02 .slideTit li strong { color: #2788ff; } 
.themaWrap .swiperArea.style02 .slideItem li .txtWrap { min-height: 1000px; } 
.themaWrap .swiperArea.style02 .slideItem li .txtWrap > p + p { margin-top: 10px; } 
.themaWrap .swiperArea.style02 .swiper-button-prev { background: url(../images/20240731/left_btn02.png) no-repeat; } 
.themaWrap .swiperArea.style02 .swiper-button-next { background: url(../images/20240731/right_btn02.png) no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg13 { background: url(../images/20240731/slide_bg13.png) center bottom #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.bg14 { background: url(../images/20240731/slide_bg14.png) center bottom 10px #fff no-repeat; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style02 { padding: 40px 10px 10px 38px; text-align: left; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style02 > div + div { margin-top: 30px; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style02 p { padding-left: 16px; text-align: left; line-height: 1.3; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style02 strong { display: inline-flex; width: 172px; height: 62px; margin-bottom: 24px; padding-top: 6px; background: #afd3ff; color: #000; font-size: 35px; border-radius: 10px; align-items: center; justify-content: center; } 
.themaWrap .swiperArea .slideItem li .txtWrap li { padding: initial; padding-left: 56px; position: relative; color: #000; font-size: 35px; background: initial; border: initial; border-radius: initial; letter-spacing: -1px; } 
.themaWrap .swiperArea .slideItem li .txtWrap li + li { margin-top: 16px; } 
.themaWrap .swiperArea .slideItem li .txtWrap li::before { position: absolute; top: 0; left: 16px; font-family: inherit; } 
.themaWrap .swiperArea .slideItem li .txtWrap li span { color: #ff0000; } 
.themaWrap .swiperArea .slideItem li .txtWrap li:nth-child(1)::before { content: '①'; } 
.themaWrap .swiperArea .slideItem li .txtWrap li:nth-child(2)::before { content: '②'; } 
.themaWrap .swiperArea .slideItem li .txtWrap li:nth-child(3)::before { content: '③'; } 
.themaWrap .swiperArea .slideItem li .txtWrap li:nth-child(4)::before { content: '④'; } 
.themaWrap .swiperArea .slideItem li .txtWrap li:nth-child(5)::before { content: '⑤'; } 
.themaWrap .swiperArea .slideItem li .txtWrap li:nth-child(6)::before { content: '⑥'; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style03 { padding: 90px 10px 10px 40px; text-align: left; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style03 li + li { margin-top: 50px; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style04 { display: flex; padding: 0 10px 10px 40px; align-items: center; } 
.themaWrap .swiperArea .slideItem li .txtWrap.style04 li + li { margin-top: 40px; } 
.themaWrap .cont03 { background: url(../images/20240731/cont03.png) center #f0f0f0 no-repeat; } 
.themaWrap .cont03 .innerSection { padding: 0 0 200px; } 
.themaWrap .cont03 .tabWrap { padding-top: 260px; overflow: hidden; } 
.themaWrap .cont03 .tabList { display: flex; width: 100%; justify-content: space-between; } 
.themaWrap .cont03 .tabList li { position: relative; text-align: center; z-index: 1; } 
.themaWrap .cont03 .tabList li:nth-child(1).active::before { content: ''; width: 156px; height: 139px; position: absolute; top: -132px; left: 180px; background: url(../images/20240731/cont03_btn_icon01.png) no-repeat; } 
.themaWrap .cont03 .tabList li:nth-child(2).active::before { content: ''; width: 171px; height: 132px; position: absolute; top: -127px; right: 175px; left: initial; background: url(../images/20240731/cont03_btn_icon02.png) no-repeat; } 
.themaWrap .cont03 .tabList li.active { z-index: 10; } 
.themaWrap .cont03 .tabList li.active a { color: #000; } 
.themaWrap .cont03 .tabList li:nth-child(2) a { background: url(../images/20240731/cont03_btn02.png) center no-repeat; margin-left: -52px; border-radius: 20px 20px 0 0; } 
.themaWrap .cont03 .tabList li a { display: flex; width: 606px; height: 134px; padding-top: 10px; background: url(../images/20240731/cont03_btn01.png) center no-repeat; color: #fff; font-size: 48px; align-items: center; justify-content: center; box-sizing: border-box; } 
.themaWrap .cont03 .tabList li:nth-child(1) a span { margin-left: -40px; } 
.themaWrap .cont03 .tabList li:nth-child(2) a span { margin-right: -40px; } 
.themaWrap .cont03 .tabCont .tabItem { display: none; padding: 80px 80px 50px; min-height: 964px; position: relative; background: #ffc64a; border-radius: 0 0 30px 30px; box-shadow: 20px -25px 23px -20px rgba(0, 0, 0, 0.45); z-index: 5; } 
.themaWrap .cont03 .tabCont .tabItem:nth-child(2) { background: #32d0e8; box-shadow: -20px -25px 23px -20px rgba(0, 0, 0, 0.45); } 
.themaWrap .cont03 .tabCont .tabItem.active { display: block; } 
.themaWrap .cont03 .tabItem .tabList01 { display: flex; flex-wrap: wrap; justify-content: space-between; gap: 60px 30px; } 
.themaWrap .cont03 .tabItem .tabList01 li { width: calc(100% / 3 - 20px); } 
.themaWrap .cont03 .tabItem .tabList01 a { display: block; min-height: 367px; padding: 34px 10px 10px; position: relative; background: #fff; border-radius: 50px; box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1); text-align: center; } 
.themaWrap .cont03 .tabItem .tabList01 a::before { content: ''; display: block; width: 100%; height: 102px; margin: 0 auto 20px; } 
.themaWrap .cont03 .tabItem .tabList01 li:nth-child(1) a::before { background: url(../images/20240731/list01_icon01.png) center no-repeat; } 
.themaWrap .cont03 .tabItem .tabList01 li:nth-child(2) a::before { background: url(../images/20240731/list01_icon02.png) center no-repeat; } 
.themaWrap .cont03 .tabItem .tabList01 li:nth-child(3) a::before { background: url(../images/20240731/list01_icon03.png) center no-repeat; } 
.themaWrap .cont03 .tabItem .tabList01 li:nth-child(4) a::before { background: url(../images/20240731/list01_icon04.png) center no-repeat; } 
.themaWrap .cont03 .tabItem .tabList01 li:nth-child(5) a::before { background: url(../images/20240731/list01_icon05.png) center no-repeat; } 
.themaWrap .cont03 .tabItem .tabList01 li:nth-child(6) a::before { background: url(../images/20240731/list01_icon06.png) center no-repeat; } 

.themaWrap .cont03 .tabItem ul a::after { content: ''; width: 68px; height: 68px; position: absolute; bottom: -34px; left: 50%; transform: translateX(-50%); background: url(../images/20240731/list_btn.png) no-repeat; } 
.themaWrap .cont03 .tabItem .tabList01 a p { min-height: 80px; margin-bottom: 10px; color: #ff921e; font-size: 36px; text-align: center; line-height: 1.1; } 
.themaWrap .cont03 .tabItem .tabList01 a span { color: #000; font-size: 22px; letter-spacing: -1px; } 
.themaWrap .cont03 .tabList02 { display: flex; max-width: 782px; margin: 0 auto; justify-content: space-between; flex-wrap: wrap; gap: 70px 54px; } 
.themaWrap .cont03 .tabList02 li { width: calc(100% / 2 - 27px); } 
.themaWrap .cont03 .tabList02 a { display: block; padding: 18px; min-height: 367px; background: #fff; position: relative; border-radius: 50px; box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1); text-align: center; } 
.themaWrap .cont03 .tabList02 a::before { content: ''; display: block; width: 100%; height: 131px; margin-bottom: 20px; background-size: contain !important; } 
.themaWrap .cont03 .tabList02 li:nth-child(1) a::before { background: url(../images/20240731/list_img01.png) center no-repeat; } 
.themaWrap .cont03 .tabList02 li:nth-child(2) a::before { background: url(../images/20240731/list_img02.png) center no-repeat; } 
.themaWrap .cont03 .tabList02 li:nth-child(3) a::before { background: url(../images/20240731/list_img03.png) center no-repeat; } 
.themaWrap .cont03 .tabList02 li:nth-child(4) a::before { background: url(../images/20240731/list_img04.png) center no-repeat; } 
.themaWrap .cont03 .tabList02 p { margin-bottom: 10px; color: #0059c8; font-size: 36px; line-height: 1.1; } 
.themaWrap .cont03 .tabList02 span { color: #000; font-size: 22px; letter-spacing: -1px; } 


@media all and (max-width:1700px){
    .themaWrap .mainVisual::before,
    .themaWrap .mainVisual::after {
        content: none;
    }
}
@media all and (max-width:1024px){ 
    .themaWrap .mainVisual .txtWrap {
        padding: 50px 10px 60px;
        text-align: center;
    }
    .themaWrap .mainVisual .txtWrap::before {
        background-position: bottom left 60px;
        background-size: 150px auto;
    }
    .themaWrap .swiperArea .slideTit ul {
        padding: 26px 56px;
    }
    .themaWrap .swiperArea .slideItem {
        padding: 0 50px 56px;
    }
    .themaWrap .swiperArea .slideItem li p {
        font-size: 26px;
    }
    .themaWrap .swiperArea .slideItem li .txtWrap {
        min-height: 600px;
        background-size: 70% auto !important;
    }
}
@media all and (max-width:860px){ 
    .themaWrap .mainVisual h2 img {
        max-width: 480px;
    }
    .themaWrap .mainVisual .txtWrap {
        padding: 40px 10px 40px;
    }
    .themaWrap .mainVisual .txtWrap::after {
        content: none;
    }
    .themaWrap .mainVisual .txtWrap::before {
        background-image: none;
    }
    .themaWrap .mainVisual .txtWrap p {
        font-size: 26px;
    }
    .themaWrap .mainVisual .txtWrap .txt {
        font-size: 26px;
    }
}
@media all and (max-width:640px){ 
    .themaWrap .innerSection {
        width: calc(100% - 10px);
    }
    .themaWrap .mainVisual .innerSection {
        padding: 30px 0 0;
    }
    .themaWrap .mainVisual .titWrap {
        margin-bottom: 20px;
    }
    .themaWrap .mainVisual h2 img {
        max-width: 260px;
    }
    .themaWrap .mainVisual .txtWrap {
        padding: 30px 10px 20px;
        border-radius: 40px 40px 0 0;
        box-shadow: initial;
    }
    .themaWrap .mainVisual .txtWrap::before {
        height: calc(100% + 6px);
        top: -6px;
        border-radius: 40px 40px 0 0;
    }
    .themaWrap .mainVisual .txtWrap p {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .themaWrap .mainVisual .txtWrap .txt {
        font-size: 16px;
    }
}