@font-face {
    font-family: 'Cafe24Moyamoya';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Face-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.themaWrap * { font-family: 'GmarketSans','Noto Sans KR' !important; font-weight: 500; line-height: 1.3; } 
.themaWrap { position: relative; } 
.themaWrap .innerSection { max-width: 1260px; width: calc(100% - 20px); margin: 0 auto; padding: 0; } 
.gBold { font-weight: 700; } 
.cafeMo {font-family: 'Cafe24Moyamoya' !important;}