.eventWrap { max-width: 1920px; margin: 0 auto; } 
.eventWrap .innerSection { max-width: 1000px; width: calc(100% - 20px); margin: 0 auto; padding: 0; } 
.eventWrap * { font-family: 'GmarketSans','Noto Sans KR' !important; font-weight: 500; line-height: 1.3; } 
.eventWrap .gBold { font-weight: 700; } 

.eventWrap .eventMain { position: relative; background-image: url(../images/eventImg/event04/main_bg02.png), url(../images/eventImg/event04/main_bg01.png); background-repeat: no-repeat; background-position: center bottom -25px, top center; background-position-x: calc(50% - 40px), center; } 
.eventWrap .eventMain .innerSection { padding-top: 65px; } 
.eventWrap .eventMain::after { content: ''; width: 100%; height: 94px; position: absolute; bottom: 0; background: url(../images/eventImg/event04/main_bg03.png) center no-repeat; } 
.eventWrap .eventMain .mainVisual { margin-bottom: 30px; text-align: center; } 
.eventWrap .eventMain h2 { display: inline-block; } 
.eventWrap .eventMain h2 img { width: 100%; } 
.eventWrap .eventMain .evInfo { max-width: 900px; width: 100%; height: 350px; margin: 0 auto; padding-top: 80px; position: relative; background: url(../images/eventImg/event04/main_item01.png) no-repeat; background-size: cover; } 
.eventWrap .eventMain .evInfo .circle { display: none; } 
.eventWrap .eventMain .evInfo::before { content: ''; width: 200px; height: 224px; position: absolute; top: -153px; left: -49px; background: url(../images/eventImg/event04/main_info01.png) no-repeat; } 
.eventWrap .eventMain .evInfo::after { content: ''; width: 244px; height: 230px; position: absolute; top: -94px; right: -86px; background: url(../images/eventImg/event04/main_info02.png) no-repeat; } 
.eventWrap .eventMain .evInfo .txt { margin-bottom: 25px; color: #000; font-size: 24px; letter-spacing: -1px; text-align: center; } 
.eventWrap .eventMain .evInfo .txt span { color: #3c00ff; } 
.eventWrap .eventMain .evInfo ul { max-width: 730px; margin: 0 auto; } 
.eventWrap .eventMain .evInfo li { display: flex; align-items: center; } 
.eventWrap .eventMain .evInfo li + li { margin-top: 10px; } 
.eventWrap .eventMain .evInfo li strong { display: inline-flex; width: 130px; height: 40px; margin-right: 16px; padding-top: 4px; background: #3c00ff; color: #fff; font-size: 18px; border-radius: 30px; align-items: center; justify-content: center; } 
.eventWrap .eventMain .evInfo li p { color: #000; font-size: 24px; } 
.eventWrap .eventMain .evInfo li p span { color: #3c00ff; font-size: 30px; } 

.eventWrap .event01 { background: url(../images/eventImg/event04/ev01_bg.png) center #fff no-repeat; } 
.eventWrap .event01 .innerSection { padding-top: 80px; } 
.eventWrap .event01 .infoBox { padding: 90px 60px 40px; position: relative; border: 1px solid #000; border-radius: 50px; } 
.eventWrap .event01 .infoBox + .infoBox { margin-top: 125px; } 
.eventWrap .event01 .infoBox .titWrap { width: 100%; position: absolute; top: -45px; left: 50%; transform: translateX(-50%); text-align: center; } 
.eventWrap .event01 .infoBox.list01 ul { display: flex; margin-bottom: 40px; flex-wrap: wrap; justify-content: center; gap: 10px 0; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(1) > div { margin-right: -20px; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(3) > div { margin-left: -20px; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(-n+3) { width: 30%; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(n+4) { width: 22%; } 
.eventWrap .event01 .infoBox.list01 li > div { width: 160px; height: 160px; padding-top: 28px; margin: 0 auto; position: relative; border: 2px solid #ffd51e; border-radius: 50%; box-sizing: border-box; } 
.eventWrap .event01 .infoBox.list01 li > div::before { display: flex; width: 75px; height: 39px; padding-top: 2px; position: absolute; top: -16px; left: 50%; transform: translateX(-50%); background: url(../images/eventImg/event04/ev01_list_bg.png) no-repeat; color: #000; font-size: 18px; align-items: center; justify-content: center; letter-spacing: -1px; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(1) > div::before { content: '5명'; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(2) > div::before { content: '10명'; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(3) > div::before { content: '20명'; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(4) > div::before { content: '50명'; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(5) > div::before { content: '100명'; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(6) > div::before { content: '300명'; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(7) > div::before { content: '800명'; } 
.eventWrap .event01 .infoBox.list01 li .imgWrap { display: flex; height: 74px; margin-bottom: 2px; align-items: center; justify-content: center; overflow: hidden; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(n+4) .imgWrap img { padding-top: 2px; } 
.eventWrap .event01 .infoBox.list01 li p { color: #000; font-size: 16px; text-align: center; line-height: 1.1; } 
.eventWrap .event01 .infoBox.list01 .etc { display: flex; max-width: 420px; height: 36px; padding-top: 2px; margin: 0 auto; background: #e9e9e9; color: #000; font-size: 16px; letter-spacing: -1px; align-items: center; justify-content: center; border-radius: 30px; } 

.eventWrap .event01 .infoBox.list02 .txtWrap { margin-bottom: 60px; } 
.eventWrap .event01 .infoBox.list02 .txt01 { margin-bottom: 4px; color: #000; font-size: 36px; text-align: center; } 
.eventWrap .event01 .infoBox.list02 .txt01 span { color: #3c00ff; } 
.eventWrap .event01 .infoBox.list02 .txt02 { color: #000; font-size: 26px; text-align: center; } 
.eventWrap .event01 .infoBox.list02 .txt03 { display: flex; max-width: 578px; height: 56px; padding-left: 80px; padding-top: 4px; margin: 30px auto 0; background: url(../images/eventImg/event04/ev01_list02_icon01.png) left 20px bottom #e9e9e9 no-repeat; color: #ff4800; font-size: 22px; letter-spacing: -1px; border-radius: 10px; align-items: center; } 
.eventWrap .event01 .infoBox.list02 ul { display: flex; gap: 0 20px; } 
.eventWrap .event01 .infoBox.list02 ul li { width: 100%; } 
.eventWrap .event01 .infoBox.list02 ul a { display: block; height: 100%; padding: 40px 10px 18px 24px; position: relative; border: 2px solid #20bae2; border-radius: 20px; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.03); box-sizing: border-box; } 
.eventWrap .event01 .infoBox.list02 ul .listTit { width: 142px; position: absolute; top: -18px; left: 50%; transform: translateX(-50%); background: #20bae2; border-radius: 50px; } 
.eventWrap .event01 .infoBox.list02 ul .listTit::after { content: ''; position: absolute; bottom: -14px; left: 50%; transform: translateX(-50%); border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 14px solid #20bae2; } 
.eventWrap .event01 .infoBox.list02 ul .listTit p { display: flex; height: 36px; color: #fff; font-size: 14px; align-items: center; justify-content: center; } 
.eventWrap .event01 .infoBox.list02 ul .listTxt p { padding-left: 48px; position: relative; color: #000; font-size: 18px; letter-spacing: -1px; } 
.eventWrap .event01 .infoBox.list02 ul li .listTxt p::before { content: ''; width: 38px; height: 70px; position: absolute; left: 0; bottom: 0; } 
.eventWrap .event01 .infoBox.list02 ul li:nth-child(1) .listTxt p::before { background: url(../images/eventImg/event04/ev02_list02_icon02.png) no-repeat; } 
.eventWrap .event01 .infoBox.list02 ul li:nth-child(2) .listTxt p::before { background: url(../images/eventImg/event04/ev02_list02_icon03.png) no-repeat; } 
.eventWrap .event01 .infoBox.list02 ul li:nth-child(3) .listTxt p::before { background: url(../images/eventImg/event04/ev02_list02_icon04.png) no-repeat; } 
.eventWrap .event01 .infoBox.list02 ul .listTxt p strong { display: block; margin-bottom: 4px; color: #20bae2; font-size: 24px; } 
.eventWrap .event01 .infoBox.list02 ul .listTxt p span { color: #20bae2; } 
.eventWrap .event01 .infoBox.list02 ul .listBtn p { display: flex; width: 92px; height: 30px; padding-top: 4px; margin: 16px auto 0; background: #000000; color: #fff; font-size: 14px; letter-spacing: -1px; border-radius: 30px; align-items: center; justify-content: center; } 

.eventWrap .event02 { background: url(../images/eventImg/event04/ev02_bg.jpg) top center #ffe180 no-repeat; } 
.eventWrap .event02 .innerSection { padding: 76px 0 65px; } 
.eventWrap #gameContainer { width: 821px; height: 821px; text-align: center; margin: auto; position: relative; margin-top: 120px; zoom: 0.8; } 
.eventWrap #gameContainer .gameShadow::before { content: ''; width: 804px; height: 384px; position: absolute; bottom: -30px; left: 50%; transform: translateX(-50%); background: url(../images/eventImg/event04/roulette02.png) bottom center no-repeat; z-index: 1; } 
.eventWrap #gameContainer .cursor { width: 67px; height: 107px; position: absolute; top: -30px; left: 50%; background: url(../images/eventImg/event04/ev_obj.png) no-repeat; transform: translateX(-50%); z-index: 999; } 
.eventWrap #gameContainer .board_on { width: 821px; height: 821px; position: relative; background: url(../images/eventImg/event04/roulette.png) no-repeat center; z-index: 2; background-size: contain; } 
.eventWrap #gameContainer .board_start { width: 235px; height: 235px; cursor: pointer; position: absolute; top: 50%; left: 50%; z-index: 55; transform: translate(-50%,-50%); } 
.eventWrap #gameContainer .board_on img { position:absolute; } 
.eventWrap #gameContainer .board_on img:nth-child(1) { left: 176px; top: 182px; transform: rotate(-45deg); } 
.eventWrap #gameContainer .board_on img:nth-child(2) { left: 114px; top: 346px; transform: rotate(-90deg); } 
.eventWrap #gameContainer .board_on img:nth-child(3) { left: 184px; bottom: 164px; transform: rotate(-135deg); } 
.eventWrap #gameContainer .board_on img:nth-child(4) { left: 362px; bottom: 100px; transform: rotate(180deg); } 
.eventWrap #gameContainer .board_on img:nth-child(5) { right: 186px; bottom: 176px; transform: rotate(135deg); } 
.eventWrap #gameContainer .board_on img:nth-child(6) { right: 118px; top: 343px; transform: rotate(90deg); } 
.eventWrap #gameContainer .board_on img:nth-child(7) { right: 200px; top: 170px; transform: rotate(45deg); } 
.eventWrap #gameContainer .board_on img:nth-child(8) { left: 358px; top: 100px; } 
.eventWrap .evTicket { text-align: center; } 
.eventWrap .evTicket p { color: #000000; font-size: 28px; } 
.eventWrap .evTicket p span { color: #ff5a00; } 

.eventWrap .giftInfo { max-width: 500px; margin: 80px auto 0; padding: 60px 30px 25px; position: relative; background: #fff; border: 2px solid #a4e0ff; border-radius: 30px; text-align: center; box-sizing: border-box; } 
.eventWrap .giftInfo .titWrap { width: 100%; max-width: 300px; position: absolute; top: -30px; left: 50%; transform: translateX(-50%); background: #a4e0ff; border-radius: 50px; } 
.eventWrap .giftInfo .titWrap::after { content: ''; position: absolute; bottom: -16px; left: 50%; transform: translateX(-50%); border-left: 9px solid transparent; border-right: 9px solid transparent; border-top: 16px solid #a4e0ff; } 
.eventWrap .giftInfo .titWrap p { display: flex; height: 60px; color: #3c00ff; font-size: 28px; align-items: center; justify-content: center; } 
.eventWrap .giftInfo table { width: 100%; margin-bottom: 30px; background: #fff; } 
.eventWrap .giftInfo table th { padding: 10px 0; background: #ffd51e; color: #000; font-size: 18px; font-weight: 700; } 
.eventWrap .giftInfo table td { padding: 10px 0; color: #000; font-size: 16px; } 
.eventWrap .giftInfo table tbody tr:nth-child(even) { background-color: #f5f5f5; } 

.eventWrap .event03 { background: url(../images/eventImg/event04/ev03_bg.jpg) top center #F6DCC4 no-repeat; } 
.eventWrap .event03 .innerSection { padding: 160px 0 100px; } 
.eventWrap .event03 .itemBox { display: flex; padding: 50px 10px 40px 42px; background-position: left bottom 50px !important; box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1); } 
.eventWrap .event03 .itemBox.box01 { background: url(../images/eventImg/event04/ev03_item_bg01.png) #fff no-repeat; } 
.eventWrap .event03 .itemBox.box02 { background: url(../images/eventImg/event04/ev03_item_bg02.png) #fff no-repeat; } 
.eventWrap .event03 .itemBox.box03 { background: url(../images/eventImg/event04/ev03_item_bg03.png) #fff no-repeat; } 
.eventWrap .event03 .itemBox + .itemBox { margin-top: 56px; } 
.eventWrap .event03 .itemBox .titWrap { width: 260px; margin-right: 26px; } 
.eventWrap .event03 .itemBox.box01 .titWrap { background: url(../images/eventImg/event04/ev03_item01.png) center bottom no-repeat; } 
.eventWrap .event03 .itemBox.box02 .titWrap { background: url(../images/eventImg/event04/ev03_item02.png) center bottom no-repeat; } 
.eventWrap .event03 .itemBox.box03 .titWrap { background: url(../images/eventImg/event04/ev03_item03.png) center bottom no-repeat; } 
.eventWrap .event03 .itemBox .titWrap p { display: flex; width: 145px; height: 34px; margin: 0 auto; padding-top: 4px; background: #000000; color: #fff; font-size: 18px; align-items: center; justify-content: center; } 
.eventWrap .event03 .itemBox .txtWrap .txt { margin-bottom: 20px; color: #868686; font-size: 22px; letter-spacing: -1px; } 
.eventWrap .event03 .itemBox .txtWrap .txt strong { display: block; color: #687aff; font-size: 40px; } 
.eventWrap .event03 .itemBox .infoList { margin-bottom: 30px; } 
.eventWrap .event03 .itemBox .infoList li { display: flex; } 
.eventWrap .event03 .itemBox .infoList li + li { margin-top: 10px; } 
.eventWrap .event03 .itemBox .infoList strong { display: inline-flex; width: 158px; height: 36px; margin-right: 15px; padding-top: 4px; background: #ececec; color: #555555; font-size: 18px; align-items: center; justify-content: center; } 
.eventWrap .event03 .itemBox .infoList p { padding-top: 4px; color: #000; font-size: 22px; } 
.eventWrap .event03 .itemBox .infoList p span { color: #687aff; } 
.eventWrap .event03 .itemBox .infoList p em { font-size: 18px; } 
.eventWrap .event03 .itemBox .infoList p em span { color: #ff0000; font-size: 16px; } 
.eventWrap .event03 .itemBox .btnList { display: flex; max-width: 452px; flex-wrap: wrap; gap: 14px; } 
.eventWrap .event03 .itemBox .btnList li { width: calc(100% / 2 - 7px); } 
.eventWrap .event03 .itemBox .btnList li a { display: flex; height: 56px; padding-top: 4px; background: #7078ff; color: #fff; font-size: 20px; align-items: center; justify-content: center; border-radius: 30px; border: 1px solid #000; box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1); box-sizing: border-box; } 
.eventWrap .event03 .infoWrap { margin-top: 110px; padding: 40px 10px; position: relative; background: #fff840; border-radius: 30px; box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1); } 
.eventWrap .event03 .infoWrap::before { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: calc(100% - 10px); height: calc(100% - 10px); background: url(../images/eventImg/event04/ev03_list01.png) left 28px top 40px #fff no-repeat; border: 2px dashed #000; border-radius: 30px; box-sizing: border-box; z-index: 1; } 
.eventWrap .event03 .infoWrap p { color: #000; font-size: 22px; word-break: keep-all; } 
.eventWrap .event03 .infoWrap p span { color: #ff0000; } 
.eventWrap .event03 .infoWrap p em { font-size: 18px; } 
.eventWrap .event03 .infoWrap ul { padding-left: 164px; position: relative; z-index: 2; } 
.eventWrap .event03 .infoWrap ul li { padding-left: 26px; position: relative; letter-spacing: -1px; } 
.eventWrap .event03 .infoWrap ul li + li { margin-top: 18px; } 
.eventWrap .event03 .infoWrap ul li::before { content: ''; width: 21px; height: 21px; position: absolute; left: 0; top: 2px; background: url(../images/eventImg/event04/ev03_list02.png) no-repeat; } 

/* 팝업 */
.eventWrap .shadow { background: rgba(0, 0, 0, 0.5); position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 100vh; display: none; } 
.eventWrap .ev_pop { position: fixed; background: #fff; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 9999; border: 1px solid #000; border-radius: 10px; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3); overflow: hidden; } 
.eventWrap .ev_pop.wd400 { max-width: 400px; width: calc(100% - 10px); } 
.eventWrap .ev_pop.wd650 { max-width: 650px; width: calc(100% - 10px); } 
.eventWrap .ev_pop .popup_inner { padding: 30px; text-align: center; } 
.eventWrap .btn_wrap { margin-top: 30px; text-align: center; } 
.eventWrap .ev_pop .btn_wrap a { font-size: 18px; padding: 7px 20px; } 
.eventWrap .ev_pop .btn_wrap a + a { margin-left: 10px } 
.eventWrap .ev_pop .btn_wrap .btn_blue { background: #1d407c !important } 
.eventWrap .ev_pop .btn_wrap .btn_gray { background: #dcdcdc; } 
.eventWrap .ev_pop .lottery_present img { margin-left: 80px; margin-bottom: 20px; } 
.eventWrap .ev_pop .lottery_present img + img { display: none; } 
.eventWrap .ev_pop .lottery_present .gift_end1 { margin-bottom: 10px; } 
.eventWrap .ev_pop .lottery_present .gift_end1 strong { color: #ff5a00; font-size: 24px; font-weight: 700; } 
.eventWrap .ev_pop .lottery_present .gift_end1 strong.losing { color: #000; } 
.eventWrap .ev_pop .lottery_present .gift_end2 { color: #8d8d8d; font-size: 16px; letter-spacing: -1px; } 
.eventWrap .ev_pop .lottery_present .gift_end2 span.losing { font-size: 20px; } 
.eventWrap .ev_pop .txt { color: #000; font-size: 26px; line-height: 1.5; } 

.eventWrap .evFooter { background: #001d4b; } 
.eventWrap .evFooter .innerSection { padding: 70px 0; } 
.eventWrap .evFooter h3 { margin-bottom: 10px; color: #fff; font-size: 24px; font-family: 'Noto Sans KR' !important; font-weight: 900; } 
.eventWrap .evFooter li::before { content: '\00B7'; position: absolute; left: 0; top: 0; color: #fff; } 
.eventWrap .evFooter li { position: relative; padding-left: 15px; margin-bottom: 6px; color: #fff; font-size: 16px; word-break: keep-all; font-family: 'Noto Sans KR' !important; } 

.eventWrap .paging { margin: 24px 0; text-align: center; } 
.eventWrap .paging a { display: inline-block; padding: 4px; color: #000; font-size: 16px; } 
.eventWrap .paging a + a { margin-left: 8px; } 
.eventWrap .paging a.current { color: #ffd51e; font-weight: 700; } 
.eventWrap .mpaging { display: none; } 

@media all and (max-width: 1100px){
 .eventWrap .eventMain .evInfo::before,
 .eventWrap .eventMain .evInfo::after { content: none; } 
 }

 @media all and (max-width: 1024px){
 .eventWrap .event01 .infoBox { padding: 90px 10px 40px; } 
 }

@media all and (max-width: 860px){
 .eventWrap .eventMain::after { bottom: -22px; background-size: 100% 50px; } 
 .eventWrap .eventMain h2 img { max-width: 500px; } 
 
 .eventWrap .eventMain .evInfo { position: relative; padding: 60px 20px 0; background: #fff; border: 2px solid #000; border-radius: 10px; overflow: hidden; } 
 .eventWrap .eventMain .evInfo::before { content: ''; width: 100%; height: 30px; position: absolute; top: 0; left: 0; background: #7DB8FD; border-bottom: 2px solid #000; } 
 .eventWrap .eventMain .evInfo .circle { display: block; position: absolute; top: 10px; left: 10px; } 
 .eventWrap .eventMain .evInfo .circle span { display: inline-block; width: 14px; height: 14px; border-radius: 50%; border: 2px solid #000; box-sizing: border-box; } 
 .eventWrap .eventMain .evInfo .circle span + span { margin-left: 4px; } 
 .eventWrap .eventMain .evInfo .circle span:nth-child(1) { background: #00d2a3; } 
 .eventWrap .eventMain .evInfo .circle span:nth-child(2) { background: #ffaff8; } 
 .eventWrap .eventMain .evInfo .circle span:nth-child(3) { background: #ffffff; } 
 .eventWrap .eventMain .evInfo .txt { margin-bottom: 15px; font-size: 22px; word-break: keep-all; } 
 .eventWrap .eventMain .evInfo li { flex-direction: column; } 
 .eventWrap .eventMain .evInfo li strong { width: 300px; height: 36px; margin-right: 0; margin-bottom: 10px; } 
 .eventWrap .eventMain .evInfo li p { font-size: 20px; } 
 .eventWrap .eventMain .evInfo li p span { font-size: 24px; } 
 
.eventWrap .event01 .infoBox.list01 ul { gap: 20px; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(-n+3), 
.eventWrap .event01 .infoBox.list01 li:nth-child(n+4) { width: initial; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(1) > div { margin-right: initial; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(3) > div { margin-left: initial; } 
.eventWrap .event01 .infoBox.list02 .txt01 { font-size: 30px; word-break: keep-all; } 
.eventWrap .event01 .infoBox.list02 ul { flex-direction: column; align-items: center; gap: 20px; } 
.eventWrap .event01 .infoBox.list02 ul li { max-width: 400px; } 
.eventWrap .event01 .infoBox.list02 ul .listTxt p { padding-left: 104px; } 
.eventWrap .event01 .infoBox.list02 ul li .listTxt p::before { left: 50px; } 

.eventWrap .event02 { background-position: top -60px center; } 
.eventWrap #gameContainer { margin-top: 100px; zoom: 0.7; } 

.eventWrap .event03 .itemBox { display: block; padding: 50px 20px; background: #fff !important; } 
.eventWrap .event03 .itemBox .titWrap { width: 100%; height: 250px; margin-right: 0; margin-bottom: 20px; } 
.eventWrap .event03 .itemBox.box03 .titWrap { background-size: 160px; } 
.eventWrap .event03 .itemBox .txtWrap .txt strong { font-size: 36px; } 
.eventWrap .event03 .itemBox .txtWrap .txt { font-size: 20px; text-align: center; word-break: keep-all; } 
.eventWrap .event03 .itemBox .btnList { align-items: center; justify-content: center; margin: 0 auto; } 
.eventWrap .event03 .itemBox .infoList li { display: block; text-align: center; } 
.eventWrap .event03 .itemBox .infoList strong { margin-right: 0; margin-bottom: 10px; } 
.eventWrap .event03 .infoWrap { padding: 50px 20px; } 
.eventWrap .event03 .infoWrap::before { background-position: bottom 10px right 10px; background-size: 70px; } 
.eventWrap .event03 .infoWrap ul { padding-left: 0; } 
.eventWrap .evFooter li br { display: none; } 
}

@media all and (max-width: 640px){
 .eventWrap .eventMain .innerSection { padding-top: 30px; } 
 .eventWrap .eventMain::after { bottom: -32px; background-size: 100% 30px; } 
 .eventWrap .eventMain h2 img { max-width: 250px; } 
 .eventWrap .eventMain .evInfo::before { height: 20px; } 
 .eventWrap .eventMain .evInfo .circle { top: 2px; } 
 .eventWrap .eventMain .evInfo .circle span { width: 8px; height: 8px; border: 1px solid #000; } 
 .eventWrap .eventMain .evInfo { height: auto; padding: 40px 10px; } 
 .eventWrap .eventMain .evInfo .txt { font-size: 16px; } 
 .eventWrap .eventMain .evInfo li strong { width: 100%; height: 28px; padding-top: 0; font-size: 14px; } 
 .eventWrap .eventMain .evInfo li p { font-size: 14px; } 
 .eventWrap .eventMain .evInfo li p span { font-size: 16px; } 

 .eventWrap .event01 .infoBox { padding: 60px 10px 30px; border-radius: 20px; } 
.eventWrap .event01 .infoBox .titWrap { top: -33px; } 
.eventWrap .event01 .infoBox.list01 li > div { width: 125px; height: 125px; padding-top: 20px; } 
.eventWrap .event01 .infoBox .titWrap img { max-width: 200px; } 
.eventWrap .event01 .infoBox.list01 li .imgWrap { max-width: 50px; height: 40px; margin: 0 auto; margin-bottom: 4px; } 
.eventWrap .event01 .infoBox.list01 li .imgWrap img { height: 100%; object-fit: scale-down; } 
.eventWrap .event01 .infoBox.list01 li > div::before { width: 56px; height: 27px; padding-top: 0; top: -12px; font-size: 14px; background-size: contain; } 
.eventWrap .event01 .infoBox.list01 li p { font-size: 14px; } 
.eventWrap .event01 .infoBox.list01 li:nth-child(6) > div,
.eventWrap .event01 .infoBox.list01 li:nth-child(7) > div { padding-top: 30px; } 
.eventWrap .event01 .infoBox.list01 .etc { height: auto; padding: 10px 10px; font-size: 14px; word-break: keep-all; text-align: center; } 
.eventWrap .event01 .infoBox + .infoBox { margin-top: 60px; } 
.eventWrap .event01 .infoBox.list02 .txt01 { font-size: 18px; } 
.eventWrap .event01 .infoBox.list02 .txt02 { font-size: 16px; } 
.eventWrap .event01 .infoBox.list02 .txt03 { height: auto; padding: 10px 10px 4px 62px; margin: 20px auto 0; font-size: 14px; background-size: 35px; word-break: keep-all; } 
.eventWrap .event01 .infoBox.list02 .txtWrap { margin-bottom: 40px; } 
.eventWrap .event01 .infoBox.list02 ul li .listTxt p::before { display: block; width: 20px; height: 35px; margin: 0 auto 10px; position: static; background-size: contain !important; } 
.eventWrap .event01 .infoBox.list02 ul .listTxt p { padding-left: 0; font-size: 16px; text-align: center; } 
.eventWrap .event01 .infoBox.list02 ul a { padding: 40px 10px 20px; } 
.eventWrap .event01 .infoBox.list02 ul .listTxt p strong { font-size: 18px; } 

 .eventWrap .paging { display: none; } 
 .eventWrap .mpaging { display: block; margin-top: 10px; color: #000; text-align: center; } 
 .eventWrap .mpaging a { display: inline-block; margin: 0 20px; padding: 4px 16px; background-color: #003281; color: #fff; font-size: 14px; border-radius: 4px; } 
 .eventWrap .mpaging span { color: #ffd51e; font-weight: 700; } 
 .eventWrap .event01 .innerSection { padding: 60px 0 30px; } 
 .eventWrap .event02 { background: #ffeeb8; } 
 .eventWrap .event02 .innerSection { padding: 30px 0 30px; } 
.eventWrap .evTicket p { font-size: 20px; } 
 .eventWrap #gameContainer { margin-top: 60px; zoom: 0.27; } 
.eventWrap .giftInfo .titWrap { max-width: 250px; top: -20px; } 
.eventWrap .giftInfo .titWrap p { height: 36px; font-size: 18px; } 
.eventWrap .giftInfo { margin: 60px auto 0; padding: 50px 10px 20px; border-radius: 20px; } 
.eventWrap .giftInfo table th { padding: 6px 0; font-size: 14px; } 
.eventWrap .giftInfo table td { padding: 6px 0; font-size: 14px; } 
.eventWrap .event03 .innerSection { padding: 30px 0; } 
.eventWrap .event03 .itemBox .titWrap { height: auto; background-image: none !important; } 
.eventWrap .event03 .itemBox { padding: 20px 10px; border-radius: 10px; } 
.eventWrap .event03 .itemBox .titWrap p { height: 30px; padding-top: 0; font-size: 14px; } 
.eventWrap .event03 .itemBox .txtWrap .txt strong { font-size: 16px; } 
.eventWrap .event03 .itemBox .txtWrap .txt { font-size: 14px; } 
.eventWrap .event03 .itemBox .infoList strong { width: 140px; height: 30px; font-size: 14px; } 
.eventWrap .event03 .itemBox .infoList p { padding-top: 0; font-size: 14px; } 
.eventWrap .event03 .itemBox .infoList p em { font-size: 12px; } 
.eventWrap .event03 .itemBox .infoList p em span { font-size: 12px; } 
.eventWrap .event03 .itemBox .btnList li { width: 100%; } 
.eventWrap .event03 .itemBox .btnList li a { height: 30px; padding-top: 0; font-size: 14px; box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 1); } 
.eventWrap .event03 .infoWrap { margin-top: 30px; padding: 20px 12px 60px; border-radius: 20px; } 
.eventWrap .event03 .infoWrap::before { width: calc(100% - 4px); height: calc(100% - 4px); border: 1px dashed #000; border-radius: 20px; background-size: 40px; background-position: bottom center; } 

.eventWrap .event03 .infoWrap ul li::before { width: 12px; height: 12px; background-size: contain; } 
.eventWrap .event03 .infoWrap p { font-size: 14px; word-break: keep-all; } 
.eventWrap .event03 .infoWrap ul li { padding-left: 18px; } 
.eventWrap .event03 .infoWrap p em { font-size: 12px; } 
.eventWrap .event03 .infoWrap ul li + li { margin-top: 10px; } 
.eventWrap .evFooter .innerSection { padding: 30px 0; } 
.eventWrap .evFooter h3 { font-size: 16px; } 
.eventWrap .evFooter li { padding-left: 10px; font-size: 12px; } 
.eventWrap .event03 .itemBox + .itemBox { margin-top: 20px; } 

.eventWrap .ev_pop .lottery_present img {
    margin-left: 30px;
    margin-bottom: 15px;
    max-width: 120px;
}
.eventWrap .ev_pop .lottery_present .gift_end1 strong {
    font-size: 18px;
}
.eventWrap .ev_pop .lottery_present .gift_end2 {
    font-size: 14px;
}
.eventWrap .btn_wrap {
    margin-top: 20px;
}
.eventWrap .ev_pop .btn_wrap a {
    font-size: 14px;
}
.eventWrap .ev_pop .popup_inner {
    padding: 20px 10px;
}
.eventWrap .ev_pop .lottery_present .gift_end2 span.losing {
    font-size: 14px;
}
.eventWrap .ev_pop .lottery_present .gift_end1 {
    margin-bottom: 6px;
}
.eventWrap .ev_pop .txt {
    font-size: 15px;
    word-break: keep-all;
}

}
