.eventWrap { max-width: 1920px; margin: 0 auto; } 
.eventWrap .innerSection { max-width: 1000px; margin: 0 auto; padding: 0; } 
.eventWrap * { font-family: 'GmarketSans','Noto Sans KR' !important; font-weight: 500; line-height: 1.3; } 
.eventWrap .gBold { font-weight: 700; } 